<header id="header" class="header">
    <!-- Search -->
    <div id="searchPushTop" class="search-push-top">
        <div class="container position-relative">
            <div class="search-push-top-content pt-3">
                <!-- Close Button -->
                <div class="search-push-top-close-btn">
                    <div class="hs-unfold">
                        <a class="js-hs-unfold-invoker btn btn-icon btn-xs btn-soft-secondary mt-2 mr-2" href="javascript:;"
                           data-hs-unfold-options='{
                      "target": "#searchPushTop",
                      "type": "jquery-slide",
                      "contentSelector": ".search-push-top"
                     }'>
                            <svg width="10" height="10" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                            </svg>
                        </a>
                    </div>
                </div>
                <!-- End Close Button -->
                <!-- Input -->
                <form class="input-group">
                    <input type="search" class="form-control" placeholder="Search Front" aria-label="Search Front">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                </form>
                <!-- End Input -->
                <!-- Content -->
                <div class="row d-none d-md-flex mt-7">
                    <div class="col-sm-6">
                        <span class="h5">Quick Links</span>

                        <div class="row">
                            <!-- Nav Link -->
                            <div class="col-6">
                                <div class="nav nav-sm nav-x-0 flex-column">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Search Results List
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Search Results Grid
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> About
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Services
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Invoice
                                    </a>
                                </div>
                            </div>
                            <!-- End Nav Link -->
                            <!-- Nav Link -->
                            <div class="col-6">
                                <div class="nav nav-sm nav-x-0 flex-column">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Profile
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> User Contacts
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Reviews
                                    </a>
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-angle-right mr-1"></i> Settings
                                    </a>
                                </div>
                            </div>
                            <!-- End Nav Link -->
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- Banner -->
                        <div class="rounded search-push-top-banner">
                            <div class="d-flex align-items-center">
                                <div class="search-push-top-banner-container">
                                    <img class="img-fluid search-push-top-banner-img" src="~/lib/frontTheme/img/mockups/img3.png" alt="Image Description">
                                    <img class="img-fluid search-push-top-banner-img" src="~/lib/frontTheme/img/mockups/img2.png" alt="Image Description">
                                </div>

                                <div>
                                    <div class="mb-4">
                                        <span class="h5">Featured Item</span>
                                        <p>Create astonishing web sites and pages.</p>
                                    </div>
                                    <a class="btn btn-xs btn-soft-success transition-3d-hover" href="javascript:;">Apply Now <i class="fas fa-angle-right fa-sm ml-1"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Banner -->
                    </div>
                </div>
                <!-- End Content -->
            </div>
        </div>
    </div>
    <!-- End Search -->

    <div class="header-section">
        <!-- Topbar -->
        <div class="container-fluid header-hide-content pt-2">
            <div class="d-flex align-items-center">
                <!-- Language -->
                @*<div class="hs-unfold">
                             <a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;"
                                data-hs-unfold-options='{
                     "target": "#languageDropdown",
                     "type": "css-animation",
                     "event": "hover",
                     "hideOnScroll": "true"
                    }'>
                                 <img class="dropdown-item-icon mr-2" src="~/lib/frontTheme/vendor/flag-icon-css/flags/4x3/us.svg" alt="SVG">
                                 <span class="d-inline-block d-sm-none">US</span>
                                 <span class="d-none d-sm-inline-block">United States</span>
                             </a>

                             <div id="languageDropdown" class="hs-unfold-content dropdown-menu">
                                 <a class="dropdown-item active" href="#">English</a>
                                 <a class="dropdown-item" href="#">Deutsch</a>
                                 <a class="dropdown-item" href="#">Español‎</a>
                             </div>
                         </div>*@
                @await Html.PartialAsync("_CulturePartial")
                <!-- End Language -->

                <div class="ml-auto">
                    <!-- Jump To -->
                    <div class="hs-unfold d-sm-none mr-2">
                        <a class="js-hs-unfold-invoker dropdown-nav-link dropdown-toggle d-flex align-items-center" href="javascript:;"
                           data-hs-unfold-options='{
                  "target": "#jumpToDropdown",
                  "type": "css-animation",
                  "event": "hover",
                  "hideOnScroll": "true"
                 }'>
                            Jump to
                        </a>

                        <div id="jumpToDropdown" class="hs-unfold-content dropdown-menu">
                            <a class="dropdown-item" href="./page-faq.html">Help</a>
                            <a class="dropdown-item" href="./page-contacts-agency.html">Contacts</a>
                        </div>
                    </div>
                    <!-- End Jump To -->
                    <!-- Links -->
                    <div class="nav nav-sm nav-y-0 d-none d-sm-flex ml-sm-auto">
                        <a class="nav-link" href="./page-faq.html">Help</a>
                        <a class="nav-link" href="./page-contacts-agency.html">Contacts</a>
                    </div>
                    <!-- End Links -->
                </div>

                <ul class="list-inline ml-2 mb-0">
                    <!-- Search -->
                    <li class="list-inline-item">
                        <div class="hs-unfold">
                            <a class="js-hs-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary" href="javascript:;"
                               data-hs-unfold-options='{
                    "target": "#searchPushTop",
                    "type": "jquery-slide",
                    "contentSelector": ".search-push-top"
                   }'>
                                <i class="fas fa-search"></i>
                            </a>
                        </div>
                    </li>
                    <!-- End Search -->
                    <!-- Shopping Cart -->
                    @*<li class="list-inline-item">
                 <div class="hs-unfold">
                     <a class="js-hs-unfold-invoker btn btn-xs btn-icon btn-ghost-secondary" href="javascript:;"
                        data-hs-unfold-options='{
         "target": "#shoppingCartDropdown",
         "type": "css-animation",
         "event": "hover",
         "hideOnScroll": "true"
        }'>
                         <i class="fas fa-shopping-cart"></i>
                     </a>

                     <div id="shoppingCartDropdown" class="hs-unfold-content dropdown-menu dropdown-menu-right dropdown-card text-center" style="min-width: 275px;">
                         <div class="card">
                             <div class="card-body">
                                 <figure class="max-w-9rem mx-auto mb-3">
                                     <img class="img-fluid" src="~/lib/frontTheme/svg/illustrations/empty-cart.svg" alt="SVG">
                                 </figure>
                                 <span class="d-block">Your cart is empty</span>
                             </div>

                             <div class="card-footer">
                                 <small>Free shipping on orders over <strong class="text-dark">$50</strong></small>
                             </div>
                         </div>
                     </div>
                 </div>
             </li>*@
                    <!-- End Shopping Cart -->
                    <!-- Account Login -->
                    @await Html.PartialAsync("_LoginFrontPartial")
                    <!-- End Account Login -->
                </ul>
            </div>
        </div>
        <!-- End Topbar -->

        <div id="logoAndNav" class="container-fluid">
            <!-- Nav -->
            <nav class="js-mega-menu navbar navbar-expand-lg">
                <!-- Logo -->
                <a class="navbar-brand" href="/Home" aria-label="Front">
                    <img src="~/lib/frontTheme/svg/logos/logo.svg" alt="Logo">
                </a>
                <!-- End Logo -->
                <!-- Responsive Toggle Button -->
                <button type="button" class="navbar-toggler btn btn-icon btn-sm rounded-circle"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
                    <span class="navbar-toggler-default">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                        </svg>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                        </svg>
                    </span>
                </button>
                <!-- End Responsive Toggle Button -->
                <!-- Navigation -->

                <div id="navBar" class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        @*<li class="navbar-nav-item">
            <a class="nav-link" href="/Home">@localizer["Home"]</a>
        </li>*@

                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/Experts">@localizer["Experts"]</a>
                        </li>
                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/Company">@localizer["Company"]</a>
                        </li>
                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/Vacancy">@localizer["Vacancy"]</a>
                        </li>

                        @*<li class="navbar-nav-item">
                            <a class="nav-link" href="/Expert/Resume">@localizer["Resume"]</a>
                        </li>*@

                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/Resume">@localizer["Resume"]</a>
                        </li>

                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/Question">@localizer["Question"]</a>
                        </li>
                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/Article">@localizer["Article"]</a>
                        </li>
                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/PracticeDocument">@localizer["PracticeDocument"]</a>
                        </li>
                        <li class="navbar-nav-item">
                            <a class="nav-link" href="/SampleDocument">@localizer["SampleDocument"]</a>
                        </li>

                    </ul>
                </div>

                <!-- End Navigation -->
            </nav>
            <!-- End Nav -->
        </div>
    </div>
</header>