@model Expro.ViewModels.UserFinancePanelVM
@using Expro.Common


<!-- Author -->
<div class="media align-items-center border-top border-bottom py-5">
    <div class="avatar avatar-circle avatar-xl">
        <img class="avatar-img" src="@Model.User.Avatar.Url" alt="Image Description">
    </div>
    <div class="media-body ml-3">
        <small class="d-block small font-weight-bold text-cap">Пользователь</small>
        <h3 class="mb-0"><a href="#">@Model.User.FullName</a></h3>
    </div>
</div>
<!-- End Author -->

<div class="alert alert-primary">
    <b>@Html.DisplayNameFor(m => m.Balance):</b> <span>@Model.BalanceStr</span> сум
</div>

<h4>@Html.DisplayNameFor(m => m.Transactions)</h4>
@if (Model.Transactions.Count > 0)
{
    var firstItem = Model.Transactions.First();

    <div class="table-responsive">
        <table class="table table-sm thead-dark table-bordered table-striped table-nowrap">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => firstItem.DateTimeStr)</th>
                    <th>@Html.DisplayNameFor(m => firstItem.Provider)</th>
                    <th>@Html.DisplayNameFor(m => firstItem.Amount)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int total = 0;
                }
                @foreach (var item in Model.Transactions)
                {
                    <tr>
                        <td>@item.DateTimeStr</td>
                        <td>@item.Provider</td>
                        <td><span class="text-success">@item.AmountStr</span></td>
                    </tr>

                    total += item.Amount;
                }
                <tr>
                    <td><strong>Итого</strong></td>
                    <td></td>
                    <td><span class="text-success"><b>@total.ToString(AppData.Configuration.NumberViewStringFormat)</b></span></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>Нет пополнений</i></p>
}
<br />

<h4>@Html.DisplayNameFor(m => m.Expenses)</h4>
@if (Model.Expenses.Count > 0)
{
    var firstItem = Model.Expenses.First();

    <div class="table-responsive">
        <table class="table table-sm thead-dark table-bordered table-striped table-nowrap">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => firstItem.DateTimeStr)</th>
                    <th>@Html.DisplayNameFor(m => firstItem.PurchaseObject)</th>
                    <th>@Html.DisplayNameFor(m => firstItem.PurchaseObjectAuthor)</th>
                    <th>@Html.DisplayNameFor(m => firstItem.Amount)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int total = 0;
                }
                @foreach (var item in Model.Expenses)
                {
                    <tr>
                        <td>@item.DateTimeStr</td>
                        <td>@item.PurchaseObject</td>
                        @{
                            string purchaseObjectAuthorFullName = item.PurchaseObjectAuthor?.FullName;
                        }
                        <td>@purchaseObjectAuthorFullName</td>
                        <td><span class="text-danger">@item.AmountStr</span></td>
                    </tr>

                    total += item.Amount;
                }
                <tr>
                    <td><strong>Итого</strong></td>
                    <td></td>
                    <td></td>
                    <td><span class="text-danger"><b>@total.ToString(AppData.Configuration.NumberViewStringFormat)</b></span></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>Нет расходов</i></p>
}
<br />

<h4>@Html.DisplayNameFor(m => m.Withdrawals)</h4>
@if (Model.Withdrawals.Count > 0)
{
    var firstItem = Model.Withdrawals.First();

    <div class="table-responsive">
        <table class="table table-sm thead-dark table-bordered table-striped table-nowrap">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(m => firstItem.DateTimeStr)</th>
                    @*<th>@Html.DisplayNameFor(m => firstItem.Status)</th>*@
                    <th>@Html.DisplayNameFor(m => firstItem.Amount)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int total = 0;
                }
                @foreach (var item in Model.Withdrawals)
                {
                    <tr>
                        <td>@item.DateTimeStr</td>
                        <td><span class="text-primary">@item.AmountStr</span></td>
                    </tr>

                    total += item.Amount;
                }
                <tr>
                    <td><strong>Итого</strong></td>
                    <td><span class="text-primary"><b>@total.ToString(AppData.Configuration.NumberViewStringFormat)</b></span></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <p><i>Нет выводов средств</i></p>
}