@model Expro.ViewModels.UserFinancePanelVM

<h2>@Model.User.FullName <small>(пользователь)</small></h2>

<div class="alert alert-primary">
    <h4>@Html.DisplayNameFor(m => m.Balance):</h4>
    <p>@Model.BalanceStr сум</p>
</div>

<h4>@Html.DisplayNameFor(m => m.Transactions)</h4>
@if (Model.Transactions.Count > 0)
{
    var firstItem = Model.Transactions.First();

    <table class="table table-sm thead-dark table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => firstItem.DateTimeStr)</th>
                <th>@Html.DisplayNameFor(m => firstItem.Provider)</th>
                <th>@Html.DisplayNameFor(m => firstItem.Amount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Transactions)
            {
                <tr>
                    <td>@item.DateTimeStr</td>
                    <td>@item.Provider</td>
                    <td><span class="text-success">@item.AmountStr</span></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет пополнений</p>
}

<h4>@Html.DisplayNameFor(m => m.Expenses)</h4>
@if (Model.Expenses.Count > 0)
{
    var firstItem = Model.Expenses.First();

    <table class="table table-sm thead-dark table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => firstItem.DateTimeStr)</th>
                <th>@Html.DisplayNameFor(m => firstItem.PurchaseObject)</th>
                <th>@Html.DisplayNameFor(m => firstItem.PurchaseObjectAuthor)</th>
                <th>@Html.DisplayNameFor(m => firstItem.Amount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Expenses)
            {
                <tr>
                    <td>@item.DateTimeStr</td>
                    <td>@item.PurchaseObject</td>
                    @{
                        string purchaseObjectAuthorFullName = item.PurchaseObjectAuthor?.FullName;
                    }
                    <td>@purchaseObjectAuthorFullName</td>
                    <td><span class="text-danger">@item.AmountStr</span></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет расходов</p>
}

<h4>@Html.DisplayNameFor(m => m.Withdrawals)</h4>
@if (Model.Withdrawals.Count > 0)
{
    var firstItem = Model.Withdrawals.First();

    <table class="table table-sm thead-dark table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => firstItem.DateTimeStr)</th>
                @*<th>@Html.DisplayNameFor(m => firstItem.Status)</th>*@
                <th>@Html.DisplayNameFor(m => firstItem.Amount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Withdrawals)
            {
                <tr>
                    <td>@item.DateTimeStr</td>
                    <td><span class="text-primary">@item.AmountStr</span></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет выводов средств</p>
}