@model VacancyEditVM
@using Expro.ViewModels
@{
    Layout = "_Layout";
    ViewData["Title"] = "Добавить вакансию";
    int? cityID = Model?.CityID;
}

<div class="row">
    <h4>Добавление вакансии</h4>
</div>

<form asp-controller="Vacancy" asp-action="Create" data-ajax="true" data-ajax-method="POST">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Company"></label>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.Company" class="form-control" />
                <span asp-validation-for="@Model.Company" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.RegionID"></label>
        </div>
        <div class="col-md-9">
            <p>
                <select asp-for="@Model.RegionID"
                        asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать регион ---</option>
                </select>
                <span asp-validation-for="@Model.RegionID" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.CityID"></label>
        </div>
        <div class="col-md-9">
            <p>
                <select asp-for="@Model.CityID"
                        asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать город ---</option>
                </select>
                <span asp-validation-for="@Model.CityID" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.CityOther"></label>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.CityOther" class="form-control" />
                <span asp-validation-for="@Model.CityOther" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Position"></label>
        </div>
        <div class="col-md-9">
            <p>
                <textarea asp-for="@Model.Position" class="form-control"></textarea>
                <span asp-validation-for="@Model.Position" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Responsibility"></label>
        </div>
        <div class="col-md-9">
            <p>
                <textarea asp-for="@Model.Responsibility" class="form-control"></textarea>
                <span asp-validation-for="@Model.Responsibility" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Requirements"></label>
        </div>
        <div class="col-md-9">
            <p>
                <textarea asp-for="@Model.Requirements" class="form-control"></textarea>
                <span asp-validation-for="@Model.Requirements" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Salary"></label>
        </div>
        <div class="col-md-9">
            <p>
                <textarea asp-for="@Model.Salary" class="form-control"></textarea>
                <span asp-validation-for="@Model.Salary" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Contacts"></label>
        </div>
        <div class="col-md-9">
            <p>
                <textarea asp-for="@Model.Contacts" class="form-control"></textarea>
                <span asp-validation-for="@Model.Contacts" class="text-danger"></span>
            </p>
        </div>
    </div>


    <button type="submit" class="btn btn-success">Добавить</button>


</form>
<div class="row">

    <a asp-action="Index">Вернутся к списку</a>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            var cityID = Number("@cityID");
            if (cityID != "0")
                $("#CityOther").attr('disabled', 'disabled');

            $('#RegionID').change(function () {
                var selectedRegion = $("#RegionID").val();
                LoadCitiesByRegion(selectedRegion);
            });

            $('#CityID').change(function () {
                var selectedCity = $("#CityID").val();
                $("#CityOther").val('');
                if (selectedCity === "0") {
                    $("#CityOther").removeAttr('disabled');
                }
                else {
                    $("#CityOther").attr('disabled', 'disabled');
                }
            });

            LoadCitiesByRegion($("#RegionID").val(), cityID);
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            if (selectedCityID == undefined || (isNaN(selectedCityID)))
                selectedCityID = null;

            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                data: {
                    regionID: regionID,
                    selected: selectedCityID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#CityID").empty().append($("<option>").text("--- Выбрать город ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            var isSelected = "";
                            if (item.selected == true)
                                isSelected = "selected='selected'";

                            $("#CityID")
                                .append("<option value='" + item.value + "' " + isSelected + ">" + item.text + "</option>");

                        });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
}

