@model Expro.ViewModels.ProfileExpertFullInfoVM
@using Expro.Models.Enums
@{
    ViewData["Title"] = "Эксперты";
}

<!-- Page Header -->
<div class="container">
    <div class="page-header">
        <!-- Media -->
        <div class="d-flex align-items-lg-center">
            <div class="avatar avatar-xxl avatar-circle mr-4">
                <img class="avatar-img" src="@Model.Avatar.Url" alt="@Model.LastName @Model.FirstName @Model.PatronymicName">
                @if (Model.IsOnline)
                {
                    <span class="avatar-status avatar-sm-status avatar-success"></span>
                }
            </div>

            <div class="media-body">
                <div class="row">
                    <div class="col-lg mb-3 mb-lg-0">
                        <h1 class="h2 mb-1">@Model.LastName @Model.FirstName @Model.PatronymicName</h1>

                        <ul class="list-inline list-separator font-size-1">
                            <li class="list-inline-item">
                                <i class="fas fa-map-marker-alt text-primary mr-1"></i> @Model.RegionStr @Model.CityStr
                            </li>
                            <li class="list-inline-item">@Model.Email</li>
                            <li class="list-inline-item">@Model.PhoneNumber</li>
                        </ul>

                        @await Component.InvokeAsync("ExpertRatingStarsOnly", new { id = Model.Id })
                        <a class="btn btn-sm btn-outline-primary transition-3d-hover" href="/Feedback/Index?id=@Model.Id">@localizer["ViewRatingAndFeedback"]</a>
                        @*<a class="link" href="/Feedback/Index?id=@Model.Id">Просмотреть рейтинг и отзывы</a>*@

                    </div>
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Media -->
    </div>
</div>


<!-- End Page Header -->
<!-- Description Section -->
<div class="container space-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["AboutMe"]</h3>
                </div>
                <p>@Model.AboutMe</p>
                <div class="mb-3">
                    <h3>@localizer["PersonalInformation"]</h3>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            <h5>@localizer["lblDateOfBirth"]</h5>
                            <p>@Model.DateOfBirth</p>
                        </div>
                        <div class="mb-4">
                            <h5>@localizer["lblGender"]</h5>
                            <p>@Model.GenderStr</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-4">
                            <h5>Веб сайт</h5>
                            <p>@Model.WebSite</p>
                        </div>
                        <div class="mb-4">
                            <h5>Факс</h5>
                            <p>@Model.Fax</p>
                        </div>

                    </div>
                </div>
                <!-- End Row -->
            </div>

            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["lblLawAreas"]</h3>
                </div>
                <ul class="list-inline list-sm-article">
                    @foreach (var item in Model.LawAreasName)
                    {
                        <li class="list-inline-item"><span class="badge badge-soft-dark py-2 px-3">@item</span></li>
                    }
                </ul>
            </div>

            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["Workexperience"]</h3>
                </div>
                <!-- Step -->
                <ul class="step step-icon-sm">
                    @foreach (var item in Model.WorkExperience)
                    {
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <div class="step-avatar step-avatar-sm">
                                    <img class="step-avatar-img" src="~/lib/frontTheme/svg/brands/slack.svg" alt="Image Description" />
                                </div>
                                <div class="step-content">
                                    <h5>@item.Position</h5>
                                    <span class="d-block text-dark">@item.Country, @item.City - @item.PlaceOfWork </span>
                                    <small class="d-block mb-4">@item.WorkPeriodFrom - @item.WorkPeriodTo</small>
                                    <p class="text-body mb-0"></p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <!-- End Step -->
            </div>

            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["Education"]</h3>
                </div>

                <!-- Step -->
                <ul class="step step-icon-sm">

                    @foreach (var item in Model.Education)
                    {
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-soft-dark">
                                    <i class="fas fa-graduation-cap"></i>
                                </span>
                                <div class="step-content">
                                    <h5>@item.University - @item.Faculty</h5>
                                    <span class="d-block text-dark">@item.Country, @item.City</span>
                                    <small class="d-block">@localizer["lblGraduationYear"] @item.GraduationYear</small>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <!-- End Step -->
            </div>
        </div>
    </div>
</div>
<!-- Description Section -->
