@using Expro.ViewModels

@{
    ViewData["Title"] = localizer["Experts"];
    var lawAreasWithParent = ViewData["lawAreas"] as List<SelectListItemWithParent>;
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row">
    <div class="col-lg-3 order-lg-2 mb-5 mb-lg-0">
        <!-- Navbar -->
        <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
            <!-- Responsive Toggle Button -->
            <button type="button" class="navbar-toggler btn btn-block btn-white"
                    aria-label="Toggle navigation"
                    aria-expanded="false"
                    aria-controls="sidebarNav"
                    data-toggle="collapse"
                    data-target="#sidebarNav">
                <span class="d-flex justify-content-between align-items-center">
                    <span class="h5 mb-0">View all filters</span>
                    <span class="navbar-toggler-default">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                        </svg>
                    </span>
                    <span class="navbar-toggler-toggled">
                        <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                        </svg>
                    </span>
                </span>
            </button>

            <div id="sidebarNav" class="collapse navbar-collapse">
                <div class="pt-4 pt-lg-0">
                    <!-- Filter Form -->
                    <form class="filterForm">
                        <!-- Filter Group -->
                        <div class="mb-5">
                            <h6 class="small text-cap">@localizer["FilterByRegion"]</h6>

                            <!-- Select -->
                            <div id="regionDDBox" class="select2-custom select2-custom-sm-right">
                                <select id="RegionID" class="js-custom-select custom-select-sm" style="opacity: 0;"
                                        asp-items="@ViewData["regions"] as List<SelectListItem>"
                                        data-hs-select2-options='{
						                "dropdownParent": "#regionDDBox",
						                "minimumResultsForSearch": "Infinity",
						                "customClass": "custom-select custom-select-sm",
						                "dropdownAutoWidth": true
					                  }'>
                                    <option value="">@localizer["All"]</option>
                                </select>
                            </div>
                            <!-- End Select -->
                            <br />
                            <!-- Select -->
                            <div id="citiesDDBox" class="select2-custom select2-custom-sm-right">
                                <select id="CityID" class="js-custom-select custom-select-sm" style="opacity: 0;"
                                        data-hs-select2-options='{
						                "dropdownParent": "#citiesDDBox",
						                "minimumResultsForSearch": "Infinity",
						                "customClass": "custom-select custom-select-sm",
						                "dropdownAutoWidth": true
					                  }'>
                                </select>
                            </div>
                            <!-- End Select -->
                        </div>
                        <!-- End Filter Group -->
                        <!-- Filter Group -->
                        <div class="mb-5">
                            <h6 class="small text-cap">@localizer["FilterByLawArea"]</h6>

                            <!-- Select -->
                            <div id="lawAreaParentDDBox" class="select2-custom select2-custom-sm-right">
                                <select id="LawAreaParentID" class="js-custom-select custom-select-sm" style="opacity: 0;"
                                        data-hs-select2-options='{
						                "dropdownParent": "#lawAreaParentDDBox",
						                "minimumResultsForSearch": "Infinity",
						                "customClass": "custom-select custom-select-sm",
						                "dropdownAutoWidth": true
					                  }'>
                                    @{
                                        var parentItems = lawAreasWithParent.Where(m => m.ParentValue == "").ToList();

                                        <option value="">@localizer["All"]</option>
                                        for (int i = 0; i < parentItems.Count; i++)
                                        {
                                            <option value="@parentItems[i].Value">@parentItems[i].Text</option>
                                        }
                                    }
                                </select>
                            </div>
                            <!-- End Select -->
                            <br />
                            <!-- Select -->
                            <div id="lawAreaDDBox" class="select2-custom select2-custom-sm-right">
                                <select id="LawAreas" class="js-custom-select custom-select-sm" multiple style="opacity: 0;"
                                        data-hs-select2-options='{
						                "dropdownParent": "#lawAreaDDBox",
						                "minimumResultsForSearch": "Infinity",
						                "customClass": "custom-select custom-select-sm",
						                "dropdownAutoWidth": true
					                  }'>
                                </select>
                            </div>
                            <!-- End Select -->
                        </div>
                        <!-- End Filter Group -->
                        <button type="button" class="btn btn-sm btn-block btn-white resetBtn">
                            <i class="fas fa-redo fa-sm mr-1"></i> @localizer["ResetAll"]
                        </button>
                    </form>
                    <!-- End Filter Form -->
                </div>
            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <div class="col-lg-9">
        <div id="tableBox">
            <div class="spinner-border spinner" style="display: none;"></div>
            <table id="list" width="100%">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="spinner-border spinner" style="display: none;"></div>
        </div>
    </div>
</div>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/select2/dist/css/select2.min.css">
}

@section Scripts
{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script src="~/lib/frontTheme/vendor/select2/dist/js/select2.full.min.js"></script>

    <script src="~/js/LawAreaPickersBinder.js"></script>
    <script src="~/js/RegionPickersBinder.js"></script>
    <script src="~/js/ResetAllButtonInitializer.js"></script>

    <script>
        var lawAreasWithParent = @Html.Raw(Json.Serialize(lawAreasWithParent));

        $(document).ready(function () {
            BindLawAreaPickers(
                "select#LawAreaParentID",
                "select#LawAreas",
                lawAreasWithParent);

            BindRegionPickers("select#RegionID", "select#CityID");
        });
    </script>

    <script>
        InitHSPlugins();
        InitResetAllButton();

        var table;

        $(document).ready(function () {
            table = $("table#list").DataTable({
                searching: false,
                ordering: false,
                processing: true,
                serverSide: true,
                scrollX: true,
                lengthChange: false,
                language: InitDataTableLanguage(),
                ajax:
                {
                    url: "/Experts/Search",
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                        var lawAreasValues = new Array();

                        var lawAreaParentID = $("select#LawAreaParentID").val();
                        if (lawAreaParentID != "")
                            d.lawAreaParent = Number(lawAreaParentID);

                        var lawAreas = $("select#LawAreas").val();
                        if (lawAreas.length > 0) {
                            for (var i = 0; i < lawAreas.length; i++) {
                                lawAreasValues.push(Number(lawAreas[i]));
                            }
                        }
                        d.lawAreas = lawAreasValues;

                        var regionID = $("select#RegionID").val();
                        if (regionID != "")
                            d.regionID = Number(regionID);
                        var cityID = $("select#CityID").val();
                        if (cityID != "")
                            d.cityID = Number(cityID);
                    },
                },
                columns: [
                    {
                        "data": 0,
                        "render": function (data, type, full, meta) {

                            var html = '';
                            html += '<div class="container space-2">';
                            html += '<div class="border-bottom w-md-75 w-lg-60 space-bottom-2 mx-md-auto">';
                            html += '<div class="media d-block d-sm-flex">';

                            html += '<div class="avatar avatar-xxl avatar-circle mr-4" style="width: 160px; height: 160px;">';
                            html += '<img class="avatar-img" src="' + full.avatar.url + '" alt="">';
                            if (full.isOnline) {
                                html += '<span class="avatar-status avatar-lg-status avatar-success"></span>';
                            }
                            html += '</div>';

                            html += '<div class="media-body">';
                            html += '<div class="d-flex justify-content-between align-items-center mb-2">';
                            html += '<h1 class="h3">' + full.firstName + ' ' + full.lastName + ' <img class="avatar avatar-xs mb-3" src="/lib/frontTheme/svg/illustrations/top-vendor.svg" alt="Review rating" data-toggle="tooltip" data-placement="top" title="" data-original-title="Эксперт подтвержден"></h1>';
                            html += '<div class="d-block">';
                            html += '<a class="btn btn-xs btn-outline-primary font-weight-bold text-nowrap ml-1" href="/Experts/Details/' + full.id + '">';
                            html += '@localizer["View"]</a>';
                            html += '</div>';
                            html += '</div>';
                            html += '<div class="row text-body font-size-1 mb-2">';
                            html += '<div class="col-auto">';
                            html += '<span class="h6">' + full.points + '</span>';
                            html += '<span> Балл</span>';
                            html += '</div>';
                            html += '<div class="col-auto">';
                            html += '<span class="h6">' + full.rating + '</span>';
                            html += '<span> Рейтинг</span>';
                            html += '</div>';
                            html += '</div>';
                            html += '<p class="mb-0">' + full.aboutMe + '</p > ';
                            html += '</div>';
                            html += '</div>';
                            html += '</div>';
                            html += '</div>';

                            return html;
                        }
                    },
                ]
            });

            table
                .on('preDraw', function () {
                    $("#tableBox .spinner").show();
                })
                .on('draw.dt', function () {
                    $("#tableBox .spinner").hide();
                });

            $("select#LawAreaParentID, select#LawAreas, select#RegionID, select#CityID").change(function (event, redrawTable) {
                //console.log(redrawTable);
                if (redrawTable != false) {
                    table.draw();
                }
            });
        });

        function InitHSPlugins() {
            // INITIALIZATION OF SELECT2
            // =======================================================
            $('.js-custom-select').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });


            //// INITIALIZATION OF ION RANGE SLIDER
            //// =======================================================
            //$('.js-ion-range-slider').each(function () {
            //    var ionRangeSlider = $.HSCore.components.HSIonRangeSlider.init($(this));
            //});
        }
    </script>
}
