@model Expro.ViewModels.PasswordChangeVM
@{
    ViewData["Title"] = "Изменение пароля";
}

<h4>@ViewData["Title"]</h4>

<form asp-controller="UserChangePassword" asp-action="Index" data-ajax="true" data-ajax-method="POST">
    @if ((bool)ViewBag.Message)
    {
        <div class="alert alert-soft-success" role="alert">
            Изменения сохранены
        </div>
    }
    <div asp-validation-summary="All" class="text-danger"></div>

    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="@Model.Password"></label>
        <input class="form-control" asp-for="@Model.Password" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="@Model.Password"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="@Model.NewPassword"></label>
        <input class="form-control" asp-for="@Model.NewPassword" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="@Model.NewPassword"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="@Model.ConfirmPassword"></label>
        <input class="form-control" asp-for="@Model.ConfirmPassword" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="@Model.ConfirmPassword"></span>
    </div>
    <!-- End Form Group -->
    <!-- Button -->
    <div class="row align-items-center mb-5">
        <div class="col-sm-12 text-sm-center">
            <button type="submit" class="btn btn-primary transition-3d-hover">Сохранить</button>
        </div>
    </div>
    <!-- End Button -->
</form>