@model IEnumerable<Expro.ViewModels.QuestionAnswerDetailsVM>
@using Expro.Common

@{
    //string targetContainerID = ViewData["targetContainerID"].ToString();
    int questionID = int.Parse(ViewData["objectID"].ToString());
}

<!-- The Modal -->
<div class="modal" id="moneyDistributionModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@*Modal Heading*@</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <!-- Table -->
                <div class="table-responsive">
                    <table class="table table-borderless table-thead-bordered table-nowrap table-align-middle">
                        <thead class="thead-light">
                            <tr>
                                <th style="width: 5%;">#</th>
                                <th>@localizer["Expert"]</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }
                            @foreach (var answer in Model)
                            {
                                <tr id="answerForDistribution_@answer.ID">
                                    <td>@i</td>
                                    <td>@answer.Author.FullName</td>
                                    <td>
                                        <!-- Select -->
                                        <select class="js-custom-select"
                                                data-answerid="@answer.ID"
                                                data-hs-select2-options='{
                                                    "minimumResultsForSearch": "Infinity"
                                                  }'>
                                            <option></option>
                                            <option value="50">50%</option>
                                            <option value="100">100%</option>
                                        </select>
                                        <!-- End Select -->
                                    </td>
                                </tr>

                                i++;
                            }
                        </tbody>
                    </table>
                </div>
                <div class="alert alert-soft-danger text-center rounded-0 mb-0 errorMessage" role="alert" style="display: none;"></div>
                <div class="alert alert-soft-success text-center rounded-0 mb-0 successMessage" role="alert" style="display: none;"></div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="spinner-border spinner" style="display: none;"></div>
                <button type="button" class="btn btn-primary" onclick="SubmitDistribution();">Ок</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">@localizer["Cancel"]</button>
            </div>

        </div>
    </div>
</div>

<script>
    function SubmitDistribution() {
        var distributionData = [];

        var distributionRows = $("#moneyDistributionModal table tbody tr select");
        for (var i = 0; i < distributionRows.length; i++) {
            var percentage = $(distributionRows[i]).val();
            if (percentage == undefined || percentage == "")
                continue;

            distributionData.push({
                AnswerID: $(distributionRows[i]).data("answerid"),
                Percentage: Number(percentage)
            });
        }

        SubmitDistributionDataViaAjax(distributionData);
    }

    function SubmitDistributionDataViaAjax(distributionData) {
        var data = {
            QuestionID: @questionID,
            Answers: distributionData
        };

        $.ajax({
            url: "/Question/SaveDistribution",
            data: JSON.stringify(data),
            processData: false,
            contentType: "application/json; charset=utf-8",
            type: "POST",
            //dataType: "json",
            beforeSend: function () {
                $(".errorMessage, .successMessage").hide().text("");
                $("#moneyDistributionModal .spinner").show();
                $("button").attr("disabled", "disabled");
            },
            success: function (data) {
                $("#moneyDistributionModal .successMessage")
                    .text(data.successMessage)
                    .show();
                
                location.reload();
                //alert("File uploaded!");
            },
            error: function (data) {
                $("#moneyDistributionModal .errorMessage")
                    .text(data.responseJSON.errorMessage)
                    .show();
                $("#moneyDistributionModal .spinner").hide();
                $("button").removeAttr("disabled");
            },
            complete: function () {
                //$("#" + spinnerTagID).hide();
                //$(input).removeAttr("disabled");
            }
        });
    }
</script>

