@*@model IEnumerable<Expro.ViewModels.SampleDocumentListItemForExpertVM>*@
@using Expro.ViewModels
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Образцовые документы";
}

<h1>@ViewData["Title"]</h1>
<br />
<div class="row">
    <div class="col-12">
        <p><a href="/Expert/SampleDocument/CreateFree" class="btn btn-info">Добавить новый документ</a></p>
        <p><a href="/Expert/SampleDocument/CreatePaid" class="btn btn-primary">Добавить новый платный документ</a></p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-sm-4">
        @*Фильтр по направлению: <br />
        <select id="lawAreas"
                class="selectpicker"
                title="Выберите"
                multiple
                data-selected-text-format="count > 3">
            @{
                var items = ViewData["lawAreas"] as List<SelectListItemWithParent>;
                var parentItems = items.Where(m => m.ParentValue == "").ToList();
                for (int i = 0; i < parentItems.Count; i++)
                {
                    <option value="@parentItems[i].Value" data-content="<b>@parentItems[i].Text</b>">@parentItems[i].Text</option>

                    var childItems = items.Where(m => m.ParentValue == parentItems[i].Value).ToList();
                    foreach (var childItem in childItems)
                    {
                        <option value="@childItem.Value" data-content="- @childItem.Text">@childItem.Text</option>
                    }

                    if (i < parentItems.Count - 1)
                    {
                        <option data-divider="true"></option>
                    }
                }
            }
        </select>*@
        Фильтр по статусу: <br />
        <select id="statusDD" asp-items="@ViewData["statuses"] as List<SelectListItem>" class="form-control">
            <option value="">Все</option>
        </select>
        <br />

        Фильтр по цене: <br />
        <select id="priceTypeDD" class="form-control">
            <option value="">Все</option>
            <option value="@DocumentPriceTypesEnum.Free">Бесплатные</option>
            <option value="@DocumentPriceTypesEnum.Paid">Платные</option>
        </select>
        <br />
    </div>
</div>
<table id="list" class="table table-striped">
    <thead>
        <tr>
            @{
                var tmp = new SampleDocumentListItemForAdminVM();
            }
            <th>@Html.DisplayNameFor(m => tmp.Title) сум</th>
            <th>@Html.DisplayNameFor(m => tmp.Price)</th>
            <th>@Html.DisplayNameFor(m => tmp.Status)</th>
            <th>@Html.DisplayNameFor(m => tmp.DateModified)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@*<style>
    .alert
    {
        padding: 0px;
    }
</style>*@

@section Scripts
{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script>
        var table;

        $(document).ready(function () {
            table = $("table#list").DataTable({
                searching: false,
                ordering: false,
                processing: true,
                serverSide: true,
                lengthChange: false,
                scrollX: true,
                lengthChange: false,
                ajax:
                {
                    url: "/Expert/SampleDocument/Search",
                    type: "POST",
                    //contentType: "application/json",
                    datatype: "json",
                    data: function (d) {
                        d.statusID = $("#statusDD").val();
                        d.priceType = $("#priceTypeDD").val();
                    },
                    //complete: function () {
                    //    StartLoadingImagesAsync();
                    //}
                },
                //columnDefs: [
                //    {
                //        "targets": [2],
                //        "visible": false,
                //    },
                //    //{
                //    //    "targets": [2],
                //    //    "visible": false
                //    //}
                //],
                columns: [
                    {
                        "data": 0, //"name": "statusId", "autoWidth": true,
                        "render": function (data, type, full, meta) { return '' + full.title + ''; }
                    },
                    {
                        "data": 1, //"name": "statusId", "autoWidth": true,
                        "render": function (data, type, full, meta)
                        {
                            var html = "";
                            if (full.price != null)
                                html = "" + full.price;
                            return html;
                        }
                    },
                    {
                        "data": 2, //"name": "statusId", "autoWidth": true,
                        "render": function (data, type, full, meta)
                        {
                            var html = "<div class='alert ";
                            if (full.status.id == "@((int)DocumentStatusesEnum.WaitingForApproval)")
                                html += "alert-warning'>";
                            else if (full.status.id == "@((int)DocumentStatusesEnum.Approved)")
                                html += "alert-success'>";
                            else if (full.status.id == "@((int)DocumentStatusesEnum.Rejected)")
                                html += "alert-danger'>";

                            html += full.status.name;
                            html += "</div>";

                            return html;
                        }
                    },
                    {
                        "data": 3, //"name": "statusId", "autoWidth": true,
                        "render": function (data, type, full, meta) { return '' + full.dateModified + ''; }
                    },
                    {
                        "data": 4, //"name": "statusId", "autoWidth": true,
                        "render": function (data, type, full, meta)
                        {
                            var editAction = "EditFree";
                            if (full.priceType == "@DocumentPriceTypesEnum.Paid")
                                editAction = "EditPaid";

                            var html = '<a href="/Expert/SampleDocument/' + editAction + '/' + full.id + '" class="btn btn-outline-primary" target="_blank">Открыть</a>';
                            return html;
                        }
                    }
                ]
            });

            $("#statusDD, #priceTypeDD").change(function () {
                table.draw();
            });
        });
    </script>
}