@model VacancyEditVM
@using Expro.ViewModels
@using Expro.Models.Enums

@{
    ViewData["Title"] = localizer["AddVacancy"];
    int? cityID = Model?.CityID;
}

<form asp-controller="Vacancy" asp-action="Create"
      id="addVacancyForm"
      onsubmit="SubmitVacancyForm()"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="PostFailure"
      data-ajax-success="PostSuccess"
      data-ajax-complete="PostCompleted">

    <div class="border-bottom mb-4">
        <h2>@ViewData["Title"]</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["lblPosition"]</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.Position" class="form-control" />
                <span asp-validation-for="@Model.Position" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>Компания</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.Company" class="form-control" />
                <span asp-validation-for="@Model.Company" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["lblRegion"]</label>
        </div>
        <div class="col-md-9">
            <select asp-for="@Model.RegionID"
                    asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                    class="js-custom-select custom-select" size="1" style="opacity: 0;"
                    data-hs-select2-options='{
                    "minimumResultsForSearch": "Infinity"
                }'>
                <option disabled selected>--- @localizer["SelectRegion"] ---</option>
            </select>
            <span asp-validation-for="@Model.RegionID" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>@localizer["lblCity"]</label>
        </div>
        <div class="col-md-9">
            <select asp-for="@Model.CityID"
                    asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                    class="js-custom-select custom-select" size="1" style="opacity: 0;"
                    data-hs-select2-options='{
                    "minimumResultsForSearch": "Infinity"
                }'>
                <option disabled selected>--- @localizer["SelectCity"] ---</option>
            </select>
            <span asp-validation-for="@Model.CityID" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>@localizer["lblCityOther"]</label>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.CityOther" class="form-control" />
                <span asp-validation-for="@Model.CityOther" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["Responsibility"]</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <!-- Quill -->
            <div class="quill-custom Responsibility">
                <div class="js-quill" style="min-height: 15rem;"
                     data-hs-quill-options='{
                   "placeholder": "@localizer["ShortDescription"]...",
                    "modules": {
                      "toolbar": [["bold", "italic", "underline", "strike", "link", "image", "blockquote", "code", {"list": "bullet"}]]
                    }
                   }'>
                    @*@Html.Raw(Model.CompanyDescription)*@
                </div>
            </div>
            <br />
            <!-- End Quill -->
            <textarea asp-for="Responsibility" class="form-control" style="display: none;"></textarea>
            <span asp-validation-for="Responsibility" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["Requirements"]</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <!-- Quill -->
            <div class="quill-custom Requirements">
                <div class="js-quill" style="min-height: 15rem;"
                     data-hs-quill-options='{
                   "placeholder": "@localizer["ShortDescription"]...",
                    "modules": {
                      "toolbar": [["bold", "italic", "underline", "strike", "link", "image", "blockquote", "code", {"list": "bullet"}]]
                    }
                   }'>
                    @*@Html.Raw(Model.CompanyDescription)*@
                </div>
            </div>
            <br />
            <!-- End Quill -->
            <textarea asp-for="Requirements" class="form-control" style="display: none;"></textarea>
            <span asp-validation-for="Requirements" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["Salary"]</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.Salary" class="form-control" />
                <span asp-validation-for="@Model.Salary" class="text-danger"></span>
            </p>
        </div>
    </div>

    <h3>@localizer["Contacts"]</h3>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["ContactPerson"]</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.ContactPerson" class="form-control" />
                <span asp-validation-for="@Model.ContactPerson" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["lblPhoneNumber"]</label><span class="text-danger">*</span>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label>@localizer["Email"]</label>
        </div>
        <div class="col-md-9">
            <p>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group" id="actionButtonsBox">
                <input asp-for="ActionType" type="hidden" />
                <button type="submit" class="btn btn-info" actiontype="@DocumentActionTypesEnum.saveAsDraft">@localizer["SaveAsDraft"]</button>
                <button type="submit" class="btn btn-indigo" actiontype="@DocumentActionTypesEnum.submitForApproval">@localizer["SubmitForApproval"]</button>
                <div class="spinner-border spinner" style="display: none;"></div>
            </div>
        </div>
    </div>
</form>

<div class="mt-5">
    <a asp-action="Index">@localizer["BackToList"]</a>
</div>
<br />
<br />

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/quill/dist/quill.snow.css">
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/frontTheme/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/frontTheme/vendor/quill/dist/quill.min.js"></script>

    <script>
        $(document).ready(function () {
            InitSelectpicker();
            var quillRequirements = InitQuillRequirements();
            var quillResponsibilities = InitQuillResponsibilities();

            var cityID = Number("@cityID");
            if (cityID != "0")
                $("#CityOther").attr('disabled', 'disabled');

            $('#RegionID').change(function () {
                var selectedRegion = $("#RegionID").val();
                LoadCitiesByRegion(selectedRegion);
            });

            $('#CityID').change(function () {
                var selectedCity = $("#CityID").val();
                $("#CityOther").val('');
                if (selectedCity === "0") {
                    $("#CityOther").removeAttr('disabled');
                }
                else {
                    $("#CityOther").attr('disabled', 'disabled');
                }
            });

            LoadCitiesByRegion($("#RegionID").val(), cityID);

            $("form button[type=submit]").click(function (ev) {
                $("form input#ActionType").val($(this).attr("actiontype"));
            });
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            if (selectedCityID == undefined || (isNaN(selectedCityID)))
                selectedCityID = null;

            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                data: {
                    regionID: regionID,
                    selected: selectedCityID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#CityID").empty().append($("<option>").text("--- @localizer["SelectCity"] ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            var isSelected = "";
                            if (item.selected == true)
                                isSelected = "selected='selected'";

                            $("#CityID")
                                .append("<option value='" + item.value + "' " + isSelected + ">" + item.text + "</option>");

                        });
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>

    <script>
        function InitSelectpicker() {
            //$('#LawAreas').selectpicker();

            // INITIALIZATION OF SELECT2
            // =======================================================
            $('.js-custom-select').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });
        }

        function InitQuillRequirements() {
            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            var options = {
                //debug: 'info',
                //modules: {
                //    toolbar: '#toolbar'
                //},
                //placeholder: 'Compose an epic...',
                //readOnly: true,
                //theme: 'snow'
            };
            var quill = $.HSCore.components.HSQuill.init('.quill-custom.Requirements .js-quill', options);
            quill.on('text-change', function (delta, oldDelta, source) {
                //if (source == 'api') {
                //    alert("An API call triggered this change.");
                //} else if (source == 'user') {
                //    alert("A user action triggered this change.");
                //}

                var html = $(".quill-custom.Requirements .ql-editor").html();
                if (html == "<p><br></p>")
                    html = "";

                $("textarea#Requirements").val(html);
            });

            return quill;
        }

        function InitQuillResponsibilities() {
            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            var options = {
                //debug: 'info',
                //modules: {
                //    toolbar: '#toolbar'
                //},
                //placeholder: 'Compose an epic...',
                //readOnly: true,
                //theme: 'snow'
            };
            var quill = $.HSCore.components.HSQuill.init('.quill-custom.Responsibility .js-quill', options);
            quill.on('text-change', function (delta, oldDelta, source) {
                //if (source == 'api') {
                //    alert("An API call triggered this change.");
                //} else if (source == 'user') {
                //    alert("A user action triggered this change.");
                //}

                var html = $(".quill-custom.Responsibility .ql-editor").html();
                if (html == "<p><br></p>")
                    html = "";

                $("textarea#Responsibility").val(html);
            });

            return quill;
        }

        function SubmitVacancyForm() {
            var isValid = $('#addVacancyForm').valid();
            if (isValid) {
                $("#addVacancyForm .spinner").show();

                DisableFormElements();

                return true;
            }
            else
                return false;
        }

        function ShowAnswerFormSpinner() {

        }

        function DisableFormElements() {
            $("#addVacancyForm input").attr("readonly", "readonly");
            $("#addVacancyForm textarea").attr("readonly", "readonly");
            $("#addVacancyForm button").attr("disabled", "disabled");
        }

        function PostFailure(data) {
            alert("Ошибка: " + data.responseJSON.errorMessage);
            //console.log(data);
            $("#addVacancyForm .spinner").hide();
        }

        function PostSuccess(data) {
            //alert("success");
            console.log(data);
            companyID = data.id;
            //alert("success");

            RedirectToIndexPageAfterSuccessCreate();
        }

        function PostCompleted(data) {
            //alert("completed");
            //console.log(data);
            //alert("completed");
            //$("#addVacancyForm .spinner").hide();
        }

        function RedirectToIndexPageAfterSuccessCreate() {
            window.location.replace("/Expert/Vacancy/Index?successfullyCreated=true");
        }
    </script>
}

