@model IEnumerable<Expro.ViewModels.VacancyDetailsVM>
@using Expro.ViewModels
@using Expro.Models.Enums

@{
    ViewData["Title"] = localizer["Vacancies"];
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">*@
}

<h2>@ViewData["Title"]</h2>
<hr />

@if (ViewData["successfullyCreated"] != null)
{
<div class="alert alert-soft-success text-center rounded-0 mb-0" role="alert">
    @localizer["VacancyAdded"]  
</div>
    <br />
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink(localizer["AddVacation"], "Create", "Vacancy", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <table id="list" width="100%">
            <thead>
                <tr>                  
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>                      
                        <td>
                            <div class="card card-bordered card-hover-shadow mb-5">
                                <div class="card-body">
                                    <div class="d-sm-flex">
                                        <div class="media-body">
                                            <div class="row">
                                                <div class="col col-md-8">
                                                    <h3 class="mb-0">
                                                        <a class="text-dark" href="/Expert/Vacancy/Edit/@item.ID" target="_blank">@item.Position</a>
                                                    </h3>
                                                    <div class="d-none d-sm-block">
                                                        @item.Company
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md mt-3 mt-md-2">
                                                    <span class="d-block font-size-1 text-body mb-1">@item.Salary</span>

                                                    @{
                                                        string badgeClass = "";
                                                        if (item.Status.ID == ((int)VacancyStatusEnum.NotApproved))
                                                        {
                                                            badgeClass = "info";
                                                        }
                                                        else if (item.Status.ID == ((int)VacancyStatusEnum.WaitingForApproval))
                                                        {
                                                            badgeClass = "warning";
                                                        }
                                                        else if (item.Status.ID == ((int)VacancyStatusEnum.Approved))
                                                        {
                                                            badgeClass = "success";
                                                        }
                                                        else if (item.Status.ID == ((int)VacancyStatusEnum.Rejected))
                                                        {
                                                            badgeClass = "danger";
                                                        }
                                                    }
                                                    <span class="badge badge-soft-@badgeClass mr-2">
                                                        <span class="legend-indicator bg-@badgeClass"></span>@item.Status.Name
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <ul class="list-inline list-separator small text-body">
                                        <li class="list-inline-item"><i class="fa fa-location-arrow"></i> @item.Region.Name, @item.City.Name</li>
                                        @if (!string.IsNullOrWhiteSpace(item.PhoneNumber))
                                        {
                                            <li class="list-inline-item"><i class="fa fa-phone"></i> @item.PhoneNumber</li>
                                        }
                                        @if (!string.IsNullOrWhiteSpace(item.Email))
                                        {
                                            <li class="list-inline-item"><i class="fa fa-envelope"></i> @item.Email</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section Scripts{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $("table#list").DataTable({
                searching: false,
                ordering: false,
                lengthChange: false,
                scrollX: true,
                lengthChange: false,
                language: InitDataTableLanguage(),
            });
        });
    </script>
}