@using Expro.ViewModels
@using Expro.Models.Enums

@{
    ViewData["Title"] = localizer["PurchasedSampleDocuments"];
    ViewData["DocumentType"] = DocumentTypesEnum.SampleDocument;
    ViewData["Area"] = UserAreasEnum.User;
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row">
    @await Html.PartialAsync("/Views/Shared/DocumentPurchasedPartials/_Index.cshtml")
</div>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/select2/dist/css/select2.min.css">
}

@section Scripts
{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script src="~/lib/frontTheme/vendor/select2/dist/js/select2.full.min.js"></script>

    <script src="~/js/Shared/DocumentPurchased/Index.js"></script>
    <script>
        var localizer = {
            "FileIsAttached": '@localizer["FileIsAttached"]',
            "Price": '@localizer["Price"]',
            "soum": '@localizer["soum"]',
            "Author": '@localizer["Author"]',
            "DatePublished": '@localizer["DatePublished"]'
        };

        SetVariables(
            "@ViewData["DocumentType"]",
            "@ViewData["Area"]",
            @((int)DocumentContentTypesEnum.file),
            @((int)DocumentPriceTypesEnum.Paid),
            localizer);

        InitHSPlugins();
    </script>
}