@model ExpertProfileWorkExperienceFormVM

@{
    Layout = "_LayoutProfile";
    ViewData["Title"] = "Опыт работы";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Страна</th>
                    <th>Город</th>
                    <th>Место работы</th>
                    <th>Должность</th>
                    <th>Период</th>
                    <th>Диплом</th>
                    <th>Действие</th>
                </tr>
            </thead>

            <tbody>
                @{
                    List<WorkExperienceListItemVM> edicationList = ViewData["workExperienceListItemVM"] as List<WorkExperienceListItemVM>;
                }

                @foreach (var item in edicationList)
                {
                    <tr>
                        <td>@item.Country</td>
                        <td>@item.City</td>
                        <td>@item.PlaceOfWork</td>
                        <td>@item.Position</td>
                        <td>@item.WorkPeriodFrom - @item.WorkPeriodTo</td>
                        <td></td>
                        <td><button class="btn btn-danger btndelete" data-cid="@item.ID">Удалить</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<form asp-controller="Profile" asp-action="Experience" data-ajax="true" data-ajax-method="POST">
    <div class="row">
        <div class="col-md-12">
            <p>
                <b>Добавить место работы</b>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Страна</label>
        </div>
        <div class="col-md-6">
            <p>
                <select asp-for="@Model.CountryID"
                        asp-items="@ViewData["country"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать страну ---</option>
                </select>
                <span asp-validation-for="@Model.CountryID" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="@Model.City"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.City" class="form-control" />
                <span asp-validation-for="@Model.City"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="@Model.PlaceOfWork"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.PlaceOfWork" class="form-control" />
                <span asp-validation-for="@Model.PlaceOfWork"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label asp-for="@Model.Position"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.Position" class="form-control" />
                <span asp-validation-for="@Model.Position"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Период</label>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="@Model.WorkPeriodFrom"></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="@Model.WorkPeriodFrom" class="form-control" />
                        <span asp-validation-for="@Model.WorkPeriodFrom"></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="@Model.WorkPeriodTo"></label>
                </div>
                <div class="col-md-6">
                    <p>
                        <input asp-for="@Model.WorkPeriodTo" class="form-control" />
                        <span asp-validation-for="@Model.WorkPeriodTo"></span>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </div>
</form>


@section Scripts{
    <script>
        $('.btndelete').on('click', function () {
            if (confirm('Вы действительно хотите удалить запись?')) {
                var id = $(this).data("cid");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteExperience", "Profile")',
                    data:
                    {
                        id
                    },
                    success: function (res) {
                        alert(res.responseText);
                        document.location = '/Profile/Experience';
                    }
                });
            }
          });
    </script>

}
