@model ExpertProfileWorkExperienceFormVM

@{
    Layout = "_LayoutProfile";
    ViewData["Title"] = "Опыт работы";
}

<form asp-controller="Profile" asp-action="Experience" data-ajax="true" data-ajax-method="POST">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Страна</th>
                        <th>Город</th>
                        <th>Место работы</th>
                        <th>Должность</th>
                        <th>Период</th>
                        <th>Диплом</th>
                        <th>Действие</th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        List<WorkExperienceListItemVM> edicationList = ViewData["workExperienceListItemVM"] as List<WorkExperienceListItemVM>;
                    }

                    @foreach (var item in edicationList)
                    {
                        <tr>
                            <td>@item.Country</td>
                            <td>@item.City</td>
                            <td>@item.PlaceOfWork</td>
                            <td>@item.Position</td>
                            <td>@item.WorkPeriodFrom - @item.WorkPeriodTo</td>
                            <td></td>
                            <td><button class="btn btn-danger">Удалить</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr />
            <b>Добавить место работы</b>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Страна</label>
        </div>
        <div class="col-md-6">
            <p>
                <select asp-for="@Model.CountryID"
                        asp-items="@ViewData["country"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать страну ---</option>
                </select>
                <span asp-validation-for="@Model.CountryID" class="text-danger"></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Город</label>
        </div>
        <div class="col-md-6">
            <p>
                <input id="city" name="city" type="text" class="form-control" />
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Место работы</label>
        </div>
        <div class="col-md-6">
            <p>
                <input type="text" class="form-control" />
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Должность</label>
        </div>
        <div class="col-md-6">
            <p>
                <input type="text" class="form-control" />
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label>Период</label>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">С</div>
                <div class="col-md-6">
                    <p>
                        <input type="text" class="form-control" />
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">По</div>
                <div class="col-md-6">
                    <p>
                        <input type="text" class="form-control" />
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </div>
</form>