@model IEnumerable<Expro.ViewModels.AppUserVM>

@{
    ViewData["Title"] = "Финансы";
}

<h1>@ViewData["Title"]</h1>
<br />
<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success" onclick="UpdateRatings();">Обновить рейтинги</button>
        <div class="spinner-border spinner" style="display: none;"></div>
    </div>
</div>
<br />

@if (Model.Count() > 0)
{
    var firstItem = Model.First();

    <table class="table table-sm thead-dark table-bordered table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => firstItem.FullName)</th>
                <th>@*@Html.DisplayNameFor(m => firstItem.UserType)*@</th>
                @*<th>@Html.DisplayNameFor(m => firstItem.Points)</th>
                <th>@Html.DisplayNameFor(m => firstItem.Rating)</th>
                <th>@Html.DisplayNameFor(m => firstItem.DateRatingLastUpdated)</th>*@
                <th>@Html.DisplayNameFor(m => firstItem.Balance)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="media align-items-center">
                            <img class="avatar avatar-sm avatar-circle mr-3" src="@item.Avatar.Url" alt="Image Description">
                            <div class="media-body">
                                <a class="d-inline-block text-dark" href="#">
                                    <h6 class="text-hover-primary mb-0">@item.FullName</h6>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td>
                        @if (item.UserType == Expro.Models.Enums.UserTypesEnum.Expert)
                        {
                            <span>Эксперт</span>
                        }
                        else
                        {
                            <span>Пользователь</span>
                        }
                    </td>
                    @*<td>@item.Points</td>
                    <td>@item.Rating</td>
                    <td>@item.DateRatingLastUpdated</td>*@
                    <td>@item.BalanceStr</td>
                    <td><a class="btn btn-info" href="/Admin/FinancePanel/Details?userID=@item.ID">Детали</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет пользователей</p>
}

@section Scripts
{
    <script>
        function UpdateRatings() {
            var confirmationText = "Вы уверены, что хотите обновить рейтинги?";
            if (!confirm(confirmationText))
                return;

            $.ajax({
                type: "POST",
                url: "/Admin/Rating/UpdateRatings",
                //data: {
                //    id: requestID
                //},
                //data: JSON.stringify({
                //    id: requestID
                //}),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    $(".spinner").show();
                },
                success: function (data) {
                    alert("success");
                    //alert(data);
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data) {
                    //alert("completed");
                    $(".btn").removeAttr("disabled");
                    $(".spinner").hide();
                }
            });
        }
    </script>
}