@using Expro.ViewModels
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Резюме";
}

<h3>@ViewData["Title"]</h3>
<br />

<div class="row">
    <div class="col-sm-4">
        @localizer["FilterByStatus"]:
        <br />
        <select id="statusDD" asp-items="@ViewData["statuses"] as List<SelectListItem>" class="form-control">
            <option value="">@localizer["All"]</option>
        </select>
        <br />
    </div>
</div>

<div id="tableBox">
    <div class="spinner-border spinner" style="display: none;"></div>
    <table id="list" width="100%">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="spinner-border spinner" style="display: none;"></div>
</div>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>
    <script>
        var table;

        $(document).ready(function () {
            table = $("table#list").DataTable({
                searching: false,
                ordering: false,
                processing: true,
                serverSide: true,
                lengthChange: false,
                scrollX: true,
                lengthChange: false,
                language: InitDataTableLanguage(),
                ajax:
                {
                    url: "/Admin/Resume/Search",
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                        d.statusID = $("#statusDD").val();
                    },
                },
                columns: [
                    {
                        "data": 0,
                        "render": function (data, type, full, meta) {
                            var html = '';
                            html += '<div class="card">';
                            html += '<div class="card-body">';
                            html += '<h4 class="card-title">Резюме: ' + full.firstName + ' ' + full.lastName+'</h4>';
                            html += '<p class="card-text">';
                            html += '<ul>';
                            html += '<li>' +'@localizer["lblDateOfBirth"]' + ' ' + full.dateOfBirth+'</li>';
                            html += '<li>' + '@localizer["Education"]' +' '+ full.education+'</li>';
                            html += '</ul>';
                            html += '</p>';
                            html += '<a href="/Admin/Resume/Details/' + full.id + '" class="card-link">'+'@localizer["View"]'+'</a>';
                            html += '</div>';
                            html += '</div>';

                            return html;
                        }
                    }
                ]
            });

            table
                .on('preDraw', function () {
                    $("#tableBox .spinner").show();
                })
                .on('draw.dt', function () {
                    $("#tableBox .spinner").hide();
                });

            $("#statusDD").change(function () {
                table.draw();
            });
        });
    </script>

}