@model Expro.ViewModels.ProfileExpertFullInfoVM
@using Expro.Models.Enums
@{
    ViewData["Title"] = "Эксперт";
    ViewData["ApprovedStatusAlertText"] = localizer["ExpertApproved"];
    ViewData["RejectedStatusAlertText"] = localizer["ExpertRejected"];
    ViewData["WaitingForApprovalAlertText"] = localizer["ExpertWaitingForApproval"];
    ViewData["NotApprovedAlertText"] = localizer["ExpertNotApproved"];
}

<!-- Page Header -->
<div class="container">
    <div class="page-header">
        <!-- Media -->
        <div class="d-flex align-items-lg-center">
            <div class="avatar avatar-xxl avatar-circle mr-4">
                <img class="avatar-img" src="@Model.Avatar.Url" alt="@Model.LastName @Model.FirstName @Model.PatronymicName">
                @if (Model.IsOnline)
                {
                    <span class="avatar-status avatar-sm-status avatar-success"></span>
                }
            </div>

            <div class="media-body">
                <div class="row">
                    <div class="col-lg mb-3 mb-lg-0">
                        <h1 class="h2 mb-1">@Model.LastName @Model.FirstName @Model.PatronymicName</h1>

                        <ul class="list-inline list-separator font-size-1">
                            <li class="list-inline-item">
                                <i class="fas fa-map-marker-alt text-primary mr-1"></i> @Model.RegionStr @Model.CityStr
                            </li>
                            <li class="list-inline-item">@Model.Email</li>
                            <li class="list-inline-item">@Model.PhoneNumber</li>
                        </ul>
                    </div>


                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Media -->
    </div>
</div>

@await Component.InvokeAsync("ExpertRating", new { id = Model.Id })

<div class="border-top text-right pt-5 mt-5">
    <a class="btn btn-sm btn-outline-primary transition-3d-hover" href="/Admin/ExpertFeedbacks/Index?id=@Model.Id">@localizer["ViewRatingAndFeedback"]</a>
</div>
<!-- End Page Header -->
<!-- Description Section -->
<div class="container space-2">
    <div class="row">
        <div class="col-lg-12">
            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["AboutMe"]</h3>
                </div>
                <p>@Model.AboutMe</p>

                <div class="mb-3">
                    <h3>@localizer["PersonalInformation"]</h3>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            <h5>@localizer["lblDateOfBirth"]</h5>
                            <p>@Model.DateOfBirth</p>
                        </div>
                        <div class="mb-4">
                            <h5>@localizer["lblGender"]</h5>
                            <p>@Model.GenderStr</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-4">
                            <h5>Веб сайт</h5>
                            <p>@Model.WebSite</p>
                        </div>
                        <div class="mb-4">
                            <h5>Факс</h5>
                            <p>@Model.Fax</p>
                        </div>

                    </div>
                </div>
                <!-- End Row -->

                <div class="mb-3">
                    <h3>@localizer["RegistrationInfo"]</h3>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-4">
                            <h5>Дата регистрации</h5>
                            <p>@Model.DateRegistered</p>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        @if (@Model.UserStatusID == 2)
                        {
                            <div class="mb-4">
                                <h5>Дата отправки на подтверждение аккаунта</h5>
                                <p>@Model.DateSubmittedForApprovalStr</p>
                            </div>
                        }

                        @if (@Model.UserStatusID == 3)
                        {
                            <div class="mb-4">
                                <h5>Дата подтверждения аккаунта</h5>
                                <p>@Model.DateApprovedStr</p>
                            </div>
                        }

                        @if (@Model.UserStatusID == 4)
                        {
                            <div class="mb-4">
                                <h5>Дата отказа аккаунту</h5>
                                <p>@Model.DateRejectedStr</p>
                            </div>
                        }
                    </div>
                </div>
                <!-- End Row -->
            </div>

            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["lblLawAreas"]</h3>
                </div>
                <ul class="list-inline list-sm-article">
                    @foreach (var item in Model.LawAreasName)
                    {
                        <li class="list-inline-item"><span class="badge badge-soft-dark py-2 px-3">@item</span></li>
                    }
                </ul>
            </div>

            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["Workexperience"]</h3>
                </div>
                <!-- Step -->
                <ul class="step step-icon-sm">
                    @foreach (var item in Model.WorkExperience)
                    {
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <div class="step-avatar step-avatar-sm">
                                    <img class="step-avatar-img" src="~/lib/frontTheme/svg/brands/slack.svg" alt="Image Description" />
                                </div>
                                <div class="step-content">
                                    <h5>@item.Position</h5>
                                    <span class="d-block text-dark">@item.Country, @item.City - @item.PlaceOfWork </span>
                                    <small class="d-block mb-4">@item.WorkPeriodFrom - @item.WorkPeriodTo</small>
                                    <p class="text-body mb-0"></p>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <!-- End Step -->
            </div>

            <div class="mb-8">
                <div class="mb-3">
                    <h3>@localizer["Education"]</h3>
                </div>

                <!-- Step -->
                <ul class="step step-icon-sm">

                    @foreach (var item in Model.Education)
                    {
                        <li class="step-item">
                            <div class="step-content-wrapper">
                                <span class="step-icon step-icon-soft-dark">
                                    <i class="fas fa-graduation-cap"></i>
                                </span>
                                <div class="step-content">
                                    <h5>@item.University - @item.Faculty</h5>
                                    <span class="d-block text-dark">@item.Country, @item.City</span>
                                    <small class="d-block">@localizer["lblGraduationYear"] @item.GraduationYear</small>
                                    <a href="@item.Diploma.Url" target="_blank" download="@item.Diploma.DisplayName">@item.Diploma.DisplayName</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <!-- End Step -->
            </div>



            @*<div class="mb-8">
                    <div class="mb-3">
                        <h3>Languages</h3>
                    </div>

                    <ul class="list-unstyled list-sm-article">
                        <li>
                            <div class="d-flex align-items-center">
                                <span class="text-dark">English</span>
                                <span class="font-size-1 ml-1">&mdash; Native</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <span class="text-dark">Deutsch</span>
                                <span class="font-size-1 ml-1">&mdash; Fluent</span>
                            </div>
                        </li>
                        <li>
                            <div class="d-flex align-items-center">
                                <span class="text-dark">French</span>
                                <span class="font-size-1 ml-1">&mdash; Beginner</span>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="mb-3">
                    <h3>Links</h3>
                </div>

                <ul class="list-unstyled list-sm-article">
                    <li>
                        <a href="#">www.github.com/maria-w</a>
                    </li>
                    <li>
                        <a href="#">www.twitter.com/maria-w</a>
                    </li>
                </ul>*@

            <!-- Sticky Block End Point -->
            @*<div id="stickyBlockEndPoint"></div>*@
        </div>
    </div>
</div>
<!-- Description Section -->
<div class="container space-2">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                @if (Model.Status == (int)ExpertApproveStatusEnum.Approved)
                {
                    <div class="alert alert-success">@ViewData["ApprovedStatusAlertText"]</div>
                }
                else if (Model.Status == (int)ExpertApproveStatusEnum.Rejected)
                {
                    <div class="alert alert-danger">@ViewData["RejectedStatusAlertText"]</div>
                }
                else if (Model.Status == (int)ExpertApproveStatusEnum.WaitingForApproval)
                {
                    <div class="alert alert-warning">@ViewData["WaitingForApprovalAlertText"]</div>
                }
                else if (Model.Status == (int)ExpertApproveStatusEnum.NotApproved)
                {
                    <div class="alert alert-warning">@ViewData["NotApprovedAlertText"]</div>
                }
            </div>

            <div class="col-md-6">

                @if (Model.Status == (int)ExpertApproveStatusEnum.WaitingForApproval)
                {
                    <button type="button" class="btn btn-success" onclick="Approve('@Model.Id');">@localizer["Approve"]</button>
                    <button type="button" class="btn btn-danger" onclick="Reject('@Model.Id');">@localizer["Reject"]</button>
                }
                else if (Model.Status == (int)ExpertApproveStatusEnum.Rejected)
                {
                    <button type="button" class="btn btn-success" onclick="Approve('@Model.Id');">@localizer["Approve"]</button>
                }
                else if (Model.Status == (int)ExpertApproveStatusEnum.Approved)
                {
                    <button type="button" class="btn btn-danger" onclick="Reject('@Model.Id');">@localizer["Reject"]</button>
                }

                <div class="spinner-border spinner" style="display: none;"></div>
            </div>
        </div>
    </div>
    <div class="row space-2">
        <div class="col-md-12">
            <div class="col-md-6">
                @if (Model.EmailConfirmed)
                {
                    <div class="alert alert-success">@localizer["EmailConfirmed"]</div>
                }
                else
                {
                    <button type="button" class="btn btn-success" onclick="ApproveEmail('@Model.Id');">@localizer["EmailConfirm"]</button>
                }
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>

<script>
    function Approve(id) {

        if (confirm("Вы уверены, что хотите подтвердить?")) {
            $.ajax({
                type: "POST",
                url: "/Admin/Experts/Approve/" + id,
                contentType: "application/json; charset=utf-8",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    ShowFormSpinner();
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data) {
                }
            });
        }
    }

    function Reject(id) {
        if (confirm("Вы уверены, что хотите отказать?")) {
            $.ajax({
                type: "POST",
                url: "/Admin/Experts/Reject/" + id,
                contentType: "application/json; charset=utf-8",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    ShowFormSpinner();
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data) {
                }
            });
        }
    }


    function ApproveEmail(id) {

        if (confirm("Вы уверены, что хотите подтвердить адрес электронной почты?")) {
            $.ajax({
                type: "POST",
                url: "/Admin/Experts/ApproveEmail/" + id,
                contentType: "application/json; charset=utf-8",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    ShowFormSpinner();
                },
                success: function (data) {
                    location.reload();
                },
                error: function (data) {
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data) {
                }
            });
        }
    }

    function ShowFormSpinner() {
        $(".spinner").show();
    }
</script>
