@using Expro.ViewModels
@using Expro.Models.Enums

@{
    ViewData["Title"] = localizer["Experts"];
}
@section CustomFrontStyles{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/select2/dist/css/select2.min.css">
}

<h1>@ViewData["Title"]</h1>
<br />

<div class="row">
    <div class="col-12">
        <button type="button" class="btn btn-success" onclick="UpdateRatings();">@localizer["RefreshRatings"]</button>
        <div class="spinner-border spinner" style="display: none;"></div>
    </div>
</div>
<br />

<div class="form-group">
    <label class="input-label" for="statusDD">@localizer["FilterByStatus"]:</label>

    <select id="statusDD" name="statusDD" asp-items="@ViewData["statuses"] as List<SelectListItem>" class="js-custom-select custom-select form-control">
        <option value="">@localizer["All"]</option>
    </select>
    <br />
</div>



<div id="tableBox">
    <div class="spinner-border spinner" style="display: none;"></div>
    <div class="table-responsive">
        <table id="list" class="table table-borderless table-thead-bordered table-nowrap table-align-middle" width="100%">
            <thead class="thead-light">
                <tr>
                    <th>@localizer["Expert"]</th>
                    <th>Статус</th>
                    <th>Балл</th>
                    <th>Рейтинг</th>
                    <th>@localizer["RatingLastUpdatedDate"]</th>
                    <th style="width: 5%;">@localizer["View"]</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="spinner-border spinner" style="display: none;"></div>
</div>

<link href="~/lib/DataTables-1.10.22/datatables.css" rel="stylesheet" />

@section Scripts
{
    <script src="~/lib/frontTheme/vendor/select2/dist/js/select2.full.min.js"></script>
    <script src="~/lib/DataTables-1.10.22/datatables.js"></script>


    <script>
        var table;

        $(document).ready(function () {
            table = $("table#list").DataTable({
                searching: false,
                ordering: false,
                processing: true,
                serverSide: true,
                lengthChange: false,
                scrollX: true,
                lengthChange: false,
                language: InitDataTableLanguage(),
                ajax:
                {
                    url: "/Admin/Experts/Search",
                    type: "POST",
                    datatype: "json",
                    data: function (d) {
                        d.statusID = $("#statusDD").val();
                    },
                },
                columns: [
                    {
                        "data": 0,
                        "render": function (data, type, full, meta) {

                            var html = '';
                            html += '<div class="media align-items-center">';
                            html += '<div class="avatar avatar-circle mr-3"><img class="avatar-img" src = "' + full.avatar.url + '" alt = "">'

                            if (full.isOnline) {
                                html += '<span class="avatar-status avatar-sm-status avatar-success" ></span > ';
                            }
                            html += '</div><div class="media-body">';
                            html += '<a class="d-inline-block text-dark" href="/Admin/Experts/Details/' + full.id + '">';
                            html += '<h6 class="text-hover-primary mb-0">' + full.firstName + ' ' + full.lastName;
                            if (full.userStatusID == 3) {
                                html += '<img class="avatar avatar-xss ml-1" src = "/lib/frontTheme/svg/illustrations/top-vendor.svg" alt = "Image Description" data - toggle="tooltip" data - placement="top" title = "Пользователь подтвержден" > '
                            }

                            html += '</h6 > ';
                            html += '</a>';
                            html += '<small class="d-block">' + full.email + ' </small>';
                            html += '</div>';
                            html += '</div>';

                            return html;
                        }
                    },
                    {
                        "data": 1,
                        "render": function (data, type, full, meta) {
                            var html = '';

                            if (full.userStatusID == 1) {
                                html += '<div class="alert alert-soft-secondary" role="alert">' +'@localizer["ExpertNotApproved"]' +'</div>'
                            }
                            if (full.userStatusID == 2) {
                                html += '<div class="alert alert-soft-warning" role="alert">' +'@localizer["ExpertWaitingForApproval"]' +'</div>'
                            }
                            if (full.userStatusID == 3) {
                                html += '<div class="alert alert-soft-success" role="alert">' +'@localizer["ExpertApproved"]' +'</div>'
                            }
                            if (full.userStatusID == 4) {
                                html += '<div class="alert alert-soft-danger" role="alert">' +'@localizer["ExpertRejected"]' +'</div>'
                            }
                            return html;
                        }
                    },
                    {
                        "data": 2,
                        "render": function (data, type, full, meta) {
                            var html = '';
                            html += '<span>' + full.points + '</span>'

                            return html;
                        }
                    },
                    {
                        "data": 3,
                        "render": function (data, type, full, meta) {
                            var html = '';
                            html += '<span>' + full.rating + '</span>'

                            return html;
                        }
                    },
                    {
                        "data": 4,
                        "render": function (data, type, full, meta) {
                            var html = '';
                            html += '<span>' + full.dateRatingLastUpdated + '</span>'

                            return html;
                        }
                    },
                    {
                        "data": 5,
                        "render": function (data, type, full, meta) {
                            var html = '';
                            html += ' <a class="text-body" href="/Admin/Experts/Details/' + full.id + '" data-toggle="tooltip" data-placement="top" title="Locked"><i class="fas fa-eye" ></i></a >';

                            return html;
                        }
                    }
                ]
            });

            table
                .on('preDraw', function () {
                    $("#tableBox .spinner").show();
                })
                .on('draw.dt', function () {
                    $("#tableBox .spinner").hide();
                });

            $("#statusDD").change(function () {
                table.draw();
            });
        });

        function UpdateRatings() {
            var confirmationText = "Вы уверены, что хотите обновить рейтинги?";
            if (!confirm(confirmationText))
                return;

            $.ajax({
                type: "POST",
                url: "/Admin/Rating/UpdateRatings",
                //data: {
                //    id: requestID
                //},
                //data: JSON.stringify({
                //    id: requestID
                //}),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    $(".spinner").show();
                },
                success: function (data) {
                    alert("Рейтинги обновлены!");
                    //alert(data);
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                    $(".btn").removeAttr("disabled");
                    $(".spinner").hide();
                },
                complete: function (data) {
                    //alert("completed");
                }
            });
        }
    </script>

    <script>
        // INITIALIZATION OF SELECT2
        // =======================================================
        $('.js-custom-select').each(function () {
            var select2 = $.HSCore.components.HSSelect2.init($(this));
        });
    </script>


}
