@model Expro.ViewModels.CompanyDetailsVM
@using Expro.Models.Enums
@{
    ViewData["Title"] = "Компания";
}

<!-- Page Header -->
<div class="container space-top-1">
    <div class="page-header">
        <!-- Profile Cover -->
        <div class="profile-cover">
            <div class="profile-cover-img-wrapper">
                <img class="profile-cover-img" src="/lib/frontTheme/img/1920x400/img1.jpg" alt="Image Description">
            </div>
        </div>
        <!-- End Profile Cover -->
        <!-- Media -->
        <div class="d-sm-flex align-items-lg-center pt-1 px-3 pb-3">
            <div class="mb-2 mb-sm-0 mr-4">
                <img class="avatar avatar-xl profile-cover-avatar shadow-soft" src="@Model.Logo.Url" alt="Image Description">
            </div>

            <div class="media-body">
                <div class="row">
                    <div class="col-lg mb-3 mb-lg-0">
                        <h1 class="h2 mb-1">@Model.CompanyName <img class="avatar avatar-xs" src="/lib/frontTheme/svg/illustrations/top-vendor.svg" alt="Review rating" data-toggle="tooltip" data-placement="top" title="Claimed profile"></h1>

                        <!-- Rating List -->
                        <!--<div class="d-flex align-items-center">
                            <img class="mr-1" src="../assets/svg/illustrations/star.svg" alt="Review rating" width="12">
                            <img class="mr-1" src="../assets/svg/illustrations/star.svg" alt="Review rating" width="12">
                            <img class="mr-1" src="../assets/svg/illustrations/star.svg" alt="Review rating" width="12">
                            <img class="mr-1" src="../assets/svg/illustrations/star.svg" alt="Review rating" width="12">
                            <img class="mr-1" src="../assets/svg/illustrations/star-half.svg" alt="Review rating" width="12">
                            <span class="font-weight-bold text-dark ml-1">4.5</span>
                            <span class="font-size-1 ml-1">(2,391 reviews)</span>
                        </div>-->
                        <!-- End Rating List -->
                    </div>

                    @*<div class="col-lg-auto align-self-lg-end text-lg-right">
                            <a class="btn btn-sm btn-primary mb-1 mb-sm-0 mr-1" href="#">54 Open jobs</a>
                            <a class="btn btn-sm btn-outline-primary mb-1 mb-sm-0" href="#">
                                <i class="fas fa-plus fa-sm mr-1"></i> Follow
                            </a>
                        </div>*@
                </div>
                <!-- End Row -->
            </div>
        </div>
        <!-- End Media -->
        <!-- Nav Scroller -->
        <div id="pageHeaderTabParent">
            <div class="js-nav-scroller js-sticky-block hs-nav-scroller-horizontal bg-white"
                 data-hs-sticky-block-options='{
               "parentSelector": "#pageHeaderTabParent",
               "breakpoint": "lg",
               "startPoint": "#pageHeaderTabParent",
               "endPoint": "#pageHeaderTabEndPoint"
             }'>
                <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                        <i class="fas fa-angle-left"></i>
                    </a>
                </span>

                <span class="hs-nav-scroller-arrow-next" style="display: none;">
                    <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                        <i class="fas fa-angle-right"></i>
                    </a>
                </span>

                <!-- Nav -->
                <ul class="js-scroll-nav nav nav-tabs page-header-tabs bg-white" id="pageHeaderTab" role="tablist"
                    data-hs-scroll-nav-options='{
                "customOffsetTop": 40
              }'>
                    @*<li class="nav-item active">
                        <a class="nav-link" href="#about-section">About</a>
                    </li>*@
                    @*<li class="nav-item">
                            <a class="nav-link" href="#jobs-section">Jobs <span class="badge badge-info badge-pill ml-1">+9</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#reviews-section">Reviews</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#interview-section">Interview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#locations-section">Locations</a>
                        </li>*@
                </ul>
                <!-- End Nav -->
            </div>
        </div>
        <!-- End Nav Scroller -->
    </div>
</div>
<!-- End Page Header -->
<!-- About Section -->
<div id="about-section" class="container space-top-1">
    <h3>@localizer["AboutCompany"]</h3>

    <div class="row mb-5">
        <div class="col-md-3 order-md-2 mb-3 mb-md-0">
            <div class="pl-md-4">
                <ul class="list-unstyled list-article">
                    <li>
                        <span class="h5 d-block">@localizer["lblRegion"]</span>
                        <span class="d-block font-size-1">@Model.Region.Name, @Model.City.Name</span>
                    </li>

                    <li>
                        <span class="h5 d-block">@localizer["Address"]</span>
                        <span class="d-block font-size-1">@Model.Address</span>
                    </li>

                    <li>
                        <span class="h5 d-block">@localizer["PhoneNumber"]</span>
                        <span class="d-block font-size-1">@Model.PhoneNumber</span>
                    </li>

                    <li>
                        <span class="h5 d-block">@localizer["Email"]</span>
                        <span class="d-block font-size-1">@Model.Email</span>
                    </li>

                    <li>
                        <span class="h5 d-block">@localizer["CompanyLink"]</span>

                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a class="icon icon-xs icon-soft-dark icon-circle" href="@Model.WebSite" data-toggle="tooltip" data-placement="top" title="Сайт компании">
                                    <i class="fa fa-globe"></i>
                                </a>
                            </li>

                            @*<li class="list-inline-item">
                                    <a class="icon icon-xs icon-soft-dark icon-circle" href="#" data-toggle="tooltip" data-placement="top" title="Capsule on Twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>

                                <li class="list-inline-item">
                                    <a class="icon icon-xs icon-soft-dark icon-circle" href="#" data-toggle="tooltip" data-placement="top" title="Capsule on Github">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>*@
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="mb-5">
                <!-- Quill -->
                <div class="quill-custom Text">
                    <div class="js-quill"
                         data-hs-quill-options='{
                            "placeholder": "",
                            "modules": {
                                "toolbar": false
                            }
                            }'>
                        @Html.Raw(Model.CompanyDescription)
                    </div>
                </div>
                <!-- End Quill -->
                @*<p>Capsule was launched in 2009 following the founders' frustration with existing CRM services that were either overly simplistic or far too complex for most businesses. We believe the value of a modern CRM lies in the ability to help businesses stay organized, know more about their customers, build strong relationships and to make the most of sales opportunities, all while minimizing user input. We built Capsule to deliver on these values and today Capsule is used by thousands of businesses of all sizes all over the world.</p>

                    <div class="collapse" id="collapseLinkDescription">
                        <p>We're based in Manchester, United Kingdom, a city with a creative heart that was founded on science and industry and the birthplace of the modern computer.</p>
                    </div>

                    <a class="link-collapse" data-toggle="collapse" href="#collapseLinkDescription" role="button" aria-expanded="false" aria-controls="collapseLinkDescription">
                        <span class="link-collapse-default">Read more <i class="fas fa-angle-down fa-sm ml-1"></i></span>
                        <span class="link-collapse-active">Read less <i class="fas fa-angle-up fa-sm ml-1"></i></span>
                    </a>*@
            </div>
        </div>
    </div>

    <div class="mt-5">
        <a asp-action="Index">@localizer["BackToList"]</a>
    </div>
</div>

<style>
    .quill-custom .ql-editor
    {
        padding: 0;
    }
</style>

@section Scripts {
    <script src="~/lib/frontTheme/vendor/quill/dist/quill.min.js"></script>

    <script>
        $(document).ready(function () {
            InitQuill();
        });

        function InitQuill() {
            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            var options = {
                //debug: 'info',
                //modules: {
                //    toolbar: '#toolbar'
                //},
                //placeholder: 'Compose an epic...',
                readOnly: true,
                //theme: 'snow'
            };
            var quill = $.HSCore.components.HSQuill.init('.js-quill', options);

            return quill;
        }
    </script>
}