@model Expro.ViewModels.DocumentDetailsForSiteVM
@using Expro.Models.Enums

@{ 
    bool? showAdminActions = ViewData["showAdminActions"] as bool?;
}

@*<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Language)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Language.Name)
    </dd>*@

<!-- Author -->
<div class="border-top border-bottom py-4 mb-5">
    <div class="row align-items-md-center">
        <div class="col-md-7 mb-5 mb-md-0">
            <div class="media align-items-center">
                <div class="avatar avatar-circle">
                    <img class="avatar-img" src="@Model.Author.Avatar?.Url" alt="Image Description">
                </div>
                <div class="media-body font-size-1 ml-3">
                    <span class="h6"><span><a href="/Experts/Details/@Model.Author.ID">@Model.Author.FullName</a></span> @*<button type="button" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</button>*@</span>
                    <span class="d-block text-muted">@Model.DatePublished</span>
                    <span class=""><i class="fa fa-eye" aria-hidden="true"></i> @Model.NumberOfViews</span>
                    @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
                    {
                        <span class="ml-4"><i class="fa fa-shopping-cart" aria-hidden="true"></i> @Model.NumberOfPurchases</span>
                        <span class="badge badge-soft-info">@localizer["Price"]: @Model.PriceStr @localizer["soum"]</span>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-5">
            @*<div class="d-flex justify-content-md-end align-items-center mb-1">
                    <span class=""><i class="fa fa-eye" aria-hidden="true"></i> @Model.NumberOfViews</span>
                    @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
                    {
                        <span class="ml-4"><i class="fa fa-shopping-cart" aria-hidden="true"></i> @Model.NumberOfPurchases</span>
                    }
                </div>*@
            <div class="d-flex justify-content-md-end align-items-center">
                <span class="d-block small font-weight-bold text-cap mr-2">@localizer["Share"]:</span>
                @*<a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>*@
                @{
                    var curPageFullUrl = Context.Request.Scheme + "://" + Context.Request.Host.Value + Context.Request.Path;
                    string telegramShareUrl = "https://t.me/share/url?url=" + curPageFullUrl + "&text=" + Model.Title;
                }
                <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="@telegramShareUrl">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>

            @if (showAdminActions == true)
            {
                <div class="d-flex justify-content-md-end align-items-center">
                    <span class="adminActions">
                        <button type="button" class="btn btn-danger btn-xs" onclick="Reject(@Model.ID);">@localizer["Reject"] <i class="fas fa-times ml-1"></i></button>
                        <span class="spinner-border spinner" style="display: none;"></span>
                    </span>
                </div>
            }
        </div>
    </div>
</div>
<!-- End Author -->

<div class="mb-4">
    <h2 class="h2">@Model.Title</h2>
</div>

@if (!string.IsNullOrWhiteSpace(Model.Text))
{
    <!-- Quill -->
    <div class="quill-custom Text">
        <div class="js-quill"
             data-hs-quill-options='{
                   "placeholder": "",
                    "modules": {
                      "toolbar": false
                    }
                   }'>
            @Html.Raw(Model.Text)
        </div>
    </div>
    <!-- End Quill -->
}

@if (Model.Attachment != null && Model.Attachment.ID > 0)
{
    if (Model.PriceType == DocumentPriceTypesEnum.Free)
    {
        <div class="mt-5">
            <i class="fa fa-file" aria-hidden="true"></i>
            <a href="@Model.Attachment.Url">@Model.Attachment.DisplayName</a>
        </div>
    }
    else
    {
        <div class="mt-5">
            <i class="fa fa-file" aria-hidden="true"></i>
            <span>@Model.Attachment.DisplayName</span>
        </div>
    }
}

<!-- Badges -->
<div class="mt-5">
    @foreach (var item in Model.LawAreas)
    {
        <a class="btn btn-xs btn-soft-secondary mb-1" href="javascript: void()">@item.Name</a>
    }
</div>

<div class="mt-5" id="likesInfoBox">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.ViewerUserHasLikeOrDislike.HasValue)
        {
            if (Model.ViewerUserHasLikeOrDislike.Value == true)
            {
                <span><a href="javascript:void(0)" class="text-info"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
                <span class="ml-4"><a href="javascript:void(0)" class="text-muted"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
            }
            else
            {
                <span><a href="javascript:void(0)" class="text-muted"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
                <span class="ml-4"><a href="javascript:void(0)" class="text-info"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
            }
        }
        else
        {
            <span><a href="javascript:void(0)" class="text-muted" onclick="Like(@Model.ID)"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
            <span class="ml-4"><a href="javascript:void(0)" class="text-muted" onclick="Dislike(@Model.ID)"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
        }
    }
    else
    {
        <div>
            @*<span><a href="javascript:void(0)" class="text-muted" data-toggle="popover" data-trigger="focus" data-html="true" data-content="@localizer["UnauthorizedLikePopover", ViewData["curPageUrl"]]"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
                <span class="ml-4"><a href="javascript:void(0)" class="text-muted" data-toggle="popover" data-trigger="focus" data-html="true" data-content="@localizer["UnauthorizedDislikePopover", ViewData["curPageUrl"]]"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>*@
            <span><a href="javascript:void(0)" class="text-muted" onclick="Like(@Model.ID)"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
            <span class="ml-4"><a href="javascript:void(0)" class="text-muted" onclick="Dislike(@Model.ID)"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
        </div>
    }

    <div class="spinner-border spinner" style="display: none;"></div>
</div>

<hr />
<div class="mt-5 mb-4">
    @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
    {
        if (ViewData["purchasedBefore"] == null)
        {
            if (ViewData["curUserBalance"] != null)
            {
                <p><b>@localizer["YourBalance"]:</b> @ViewData["curUserBalanceStr"] @localizer["soum"]</p>
                if (ViewData["paymentAmount"] == null) //if balance is enough
                {
                    <form asp-action="Purchase" id="purchaseForm">
                        <input type="hidden" name="DocumentID" value="@Model.ID" />
                        <button type="submit" class="btn btn-success">@localizer["Purchase"]</button>
                        <div class="spinner-border spinner" style="display: none;"></div>
                    </form>
                }
                else
                {
                    <div class="lert alert-soft-warning text-center rounded-0 mb-0">
                        <p>@localizer["NotEnoughMoneyOnBalancePleaseReplenish"]</p>
                        <p><a href="@ViewData["clickPaymentButtonUrl"]" class="btn btn-info">@localizer["ReplenishBalanceOn", ViewData["paymentAmount"]]</a></p>
                    </div>
                }
            }
            //user is unauthorized
            else
            {
                <div class="lert alert-soft-info text-center rounded-0 mb-0">
                    @Html.Raw(@localizer["AuthorizeToPurchase", ViewData["curPageUrl"]])
                </div>
            }
        }
        else
        {
            <div class="lert alert-soft-success text-center rounded-0 mb-0">
                @Html.Raw(@localizer["AlreadyPurchased", ViewData["curUserArea"], ViewData["DocumentType"], Model.ID])
            </div>
        }
    }
</div>

<div>
    <a asp-action="Index">@localizer["Back"]</a>
</div>