@model Expro.ViewModels.DocumentDetailsForSiteVM
@using Expro.Models.Enums

@*<dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Language)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Language.Name)
    </dd>*@

<!-- Author -->
<div class="border-top border-bottom py-4 mb-5">
    <div class="row align-items-md-center">
        <div class="col-md-7 mb-5 mb-md-0">
            <div class="media align-items-center">
                <div class="avatar avatar-circle">
                    <img class="avatar-img" src="@Model.Author.Avatar?.Url" alt="Image Description">
                </div>
                <div class="media-body font-size-1 ml-3">
                    <span class="h6"><span>@Model.Author.FullName</span> @*<button type="button" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</button>*@</span>
                    <span class="d-block text-muted">@Model.DatePublished</span>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex justify-content-md-end align-items-center mb-1">
                <span class=""><i class="fa fa-eye" aria-hidden="true"></i> @Model.NumberOfViews</span>
                @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
                {
                    <span class="ml-4"><i class="fa fa-shopping-cart" aria-hidden="true"></i> @Model.NumberOfPurchases</span>
                }
            </div>
            <div class="d-flex justify-content-md-end align-items-center">
                @*<span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                        <i class="fab fa-telegram"></i>
                    </a>*@
                @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
                {
                    <span class="badge badge-soft-info">Цена: @Model.PriceStr сум</span>
                }
            </div>
        </div>
    </div>
</div>
<!-- End Author -->

<div class="mb-4">
    <h2 class="h2">@Model.Title</h2>
</div>

@if (Model.PriceType == DocumentPriceTypesEnum.Free)
{
    if (Model.ContentType == DocumentContentTypesEnum.file)
    {
        @if (Model.Attachment != null && Model.Attachment.ID > 0)
        {
            <div class="mt-5">
                <i class="fa fa-file" aria-hidden="true"></i>
                <a href="@Model.Attachment.Url">@Model.Attachment.DisplayName</a>
            </div>
        }
    }
    else
    {
        <!-- Quill -->
        <div class="quill-custom Text">
            <div class="js-quill"
                 data-hs-quill-options='{
                   "placeholder": "",
                    "modules": {
                      "toolbar": false
                    }
                   }'>
                @Html.Raw(Model.Text)
            </div>
        </div>
        <!-- End Quill -->
    }
}
else
{
    if (Model.ContentType == DocumentContentTypesEnum.file)
    {
        @if (Model.Attachment != null && Model.Attachment.ID > 0)
        {
            <div class="mt-5">
                <i class="fa fa-file" aria-hidden="true"></i>
                <span>@Model.Attachment.DisplayName</span>
            </div>
        }
    }
    else
    {
        <!-- Quill -->
        <div class="quill-custom Text">
            <div class="js-quill"
                 data-hs-quill-options='{
                   "placeholder": "",
                    "modules": {
                      "toolbar": false
                    }
                   }'>
                @Html.Raw(Model.Text)
            </div>
        </div>
        <!-- End Quill -->
    }
}

<!-- Badges -->
<div class="mt-5">
    @foreach (var item in Model.LawAreas)
    {
        <a class="btn btn-xs btn-soft-secondary mb-1" href="javascript: void()">@item.Name</a>
    }
</div>

<div class="mt-5" id="likesInfoBox">
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.ViewerUserHasLikeOrDislike.HasValue)
        {
            if (Model.ViewerUserHasLikeOrDislike.Value == true)
            {
                <span><a href="javascript:void(0)" class="text-info"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
                <span class="ml-4"><a href="javascript:void(0)" class="text-muted"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
            }
            else
            {
                <span><a href="javascript:void(0)" class="text-muted"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
                <span class="ml-4"><a href="javascript:void(0)" class="text-info"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
            }
        }
        else
        {
            <span><a href="javascript:void(0)" class="text-muted" onclick="Like(@Model.ID)"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
            <span class="ml-4"><a href="javascript:void(0)" class="text-muted" onclick="Dislike(@Model.ID)"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
        }
    }
    else
    {
        <div>
            <span><a href="javascript:void(0)" class="text-muted" data-toggle="popover" data-trigger="focus" @*title="Popover Header"*@ data-html="true" data-content="<a href='/Identity/Account/Login?returnUrl=@ViewData["curPageUrl"]'>Войдите</a>, чтобы лайкнуть"><i class="fa fa-thumbs-up"></i> @Model.PositiveLikesCount</a></span>
            <span class="ml-4"><a href="javascript:void(0)" class="text-muted" data-toggle="popover" data-trigger="focus" @*title="Popover Header"*@ data-html="true" data-content="<a href='/Identity/Account/Login?returnUrl=@ViewData["curPageUrl"]'>Войдите</a>, чтобы дислайкнуть"><i class="fa fa-thumbs-down"></i> @Model.NegativeLikesCount</a></span>
        </div>
    }

    <div class="spinner-border spinner" style="display: none;"></div>
</div>

<hr />
<div class="mt-5 mb-4">
    @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
    {
        if (ViewData["purchasedBefore"] == null)
        {
            if (ViewData["curUserBalance"] != null)
            {
                <p><b>Ваш баланс:</b> @ViewData["curUserBalanceStr"] сум</p>
                if (ViewData["paymentAmount"] == null) //if balance is enough
                {
                    <form asp-action="Purchase" id="purchaseForm">
                        <input type="hidden" name="DocumentID" value="@Model.ID" />
                        <button type="submit" class="btn btn-success">Купить</button>
                        <div class="spinner-border spinner" style="display: none;"></div>
                    </form>
                }
                else
                {
                    <div class="lert alert-soft-warning text-center rounded-0 mb-0">
                        <p>На вашем балансе недостаточно средств для покупки. Пожалуйста, пополните баланс.</p>
                        <p><a href="@ViewData["clickPaymentButtonUrl"]" class="btn btn-info">Пополнить баланс на <b>@ViewData["paymentAmount"] сум (CLICK)</b></a></p>
                    </div>
                }
            }
            //user is unauthorized
            else
            {
                <div class="lert alert-soft-info text-center rounded-0 mb-0">
                    <a href="/Identity/Account/Login?returnUrl=@ViewData["curPageUrl"]">Авторизуйтесь</a>, чтобы купить.
                </div>
            }
        }
        else
        {
            <div class="lert alert-soft-success text-center rounded-0 mb-0">
                Вы уже покупали этот материал. Нажмите <a href="/@ViewData["curUserArea"]/@ViewData["DocumentType"]Purchased/Details/@Model.ID">здесь</a>, чтобы посмотреть.
            </div>
        }
    }
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>