@model ProfileExpertVM

@{
    Layout = "_LayoutProfile";
    ViewData["Title"] = "Основная информация";

    <link href="~/lib/Gijgo/gijgo.min.css" rel="stylesheet" />

}

<form id="maininfoform" asp-controller="Profile" asp-action="Index" data-ajax="true" data-ajax-mode="replace" data-ajax-method="POST">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (!String.IsNullOrEmpty(ViewBag.Message))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.FirstName"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.LastName"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.PatronymicName"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.PatronymicName" class="form-control" />
                <span asp-validation-for="@Model.PatronymicName"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.RegionID"></label>
        </div>
        <div class="col-md-6">
            <p>
                <select asp-for="@Model.RegionID"
                        asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                        class="form-control">
                </select>
                <span asp-validation-for="@Model.RegionID" class="text-danger"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.CityID"></label>
        </div>
        <div class="col-md-6">
            <p>
                <select asp-for="@Model.CityID"
                        asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled>--- Выбрать город ---</option>
                </select>
                <span asp-validation-for="@Model.CityID" class="text-danger"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.LawAreas"></label>
        </div>
        <div class="col-md-6">
            <p>
                <select asp-for="@Model.LawAreas"
                        asp-items="@ViewData["lawAreas"] as IEnumerable<SelectListItem>"
                        class="form-control">
                </select>
                <span asp-validation-for="@Model.LawAreas" class="text-danger"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.DateOfBirth"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.DateOfBirth" class="form-control" onkeydown="event.preventDefault()" />
                <span asp-validation-for="@Model.DateOfBirth"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.GenderID"></label>
        </div>
        <div class="col-md-6">
            <p>
                <select asp-for="@Model.GenderID"
                        asp-items="@ViewData["gender"] as IEnumerable<SelectListItem>"
                        class="form-control">
                </select>
            </p>
            <p>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>


@section Scripts
    {
    <script src="~/lib/Gijgo/gijgo.min.js"></script>
    <script src="~/lib/Gijgo/messages.ru-ru.js"></script>
    <script>
        $('#DateOfBirth').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'dd.mm.yyyy',
            locale: 'ru-ru',
        });
    </script>

}
