@model Expro.ViewModels.ExpertProfileMainInfoEditVM
@{
    Layout = "_LayoutProfile";
    ViewData["Title"] = localizer["MainInfo"];

    <link href="~/lib/Gijgo/gijgo.min.css" rel="stylesheet" />
    int? cityID = Model?.CityID;
}


<form asp-controller="ExpertProfileMainInfo" asp-action="Index" data-ajax="true" data-ajax-method="POST">
    @if ((bool)ViewBag.Message)
    {
        <div class="alert alert-soft-success" role="alert">
            @localizer["ChangesSaved"]
        </div>
    }
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.FirstName" style="float:left;" class="input-label"></label>
        </div>
        <div class="col-sm-9">
            <input type="text" asp-for="@Model.FirstName" class="form-control" placeholder="@localizer["lblFirstName"]" />

            <span asp-validation-for="@Model.FirstName"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.LastName" style="float:left;" class="input-label"></label>
        </div>

        <div class="col-sm-9">
            <input type="text" asp-for="@Model.LastName" class="form-control" placeholder="@localizer["lblLastName"]" />
            <span asp-validation-for="@Model.LastName"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.PatronymicName" style="float:left;" class="input-label"></label>
        </div>
        <div class="col-sm-9">
            <input type="text" asp-for="@Model.PatronymicName" class="form-control" placeholder="@localizer["lblPatronymicName"]" />
            <span asp-validation-for="@Model.PatronymicName"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.RegionID" style="float:left;" class="input-label"></label>
        </div>
        <div class="col-sm-9">
            <select asp-for="@Model.RegionID"
                    asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                    class="js-custom-select custom-select">
                <option disabled selected>--- @localizer["SelectRegion"] ---</option>
            </select>
            <span asp-validation-for="@Model.RegionID" class="text-danger"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.CityID" style="float:left;" class="input-label"></label>
        </div>
        <div class="col-sm-9">
            <select asp-for="@Model.CityID"
                    asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                    class="js-custom-select custom-select">
                <option disabled selected>--- @localizer["SelectCity"] ---</option>
            </select>
            <span asp-validation-for="@Model.CityID" class="text-danger"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.CityOther" style="float:left;" class="input-label"></label>
        </div>
        <div class="col-sm-9">
            <input class="form-control" asp-for="@Model.CityOther" placeholder="@localizer["lblCityOther"]" aria-label="" data-msg="Please fill field.">
            <span asp-validation-for="@Model.CityOther"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Select -->
    <div class="row form-group">        
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.LawAreas" style="float:left;" class="input-label"></label>
        </div>
        <div class="col-sm-9">
            <select asp-for="@Model.LawAreas"
                    asp-items="@ViewData["lawAreas"] as IEnumerable<SelectListItem>" class="js-custom-select custom-select" size="1" multiple style="opacity: 0;"
                    data-hs-select2-options='{
          "minimumResultsForSearch": "Infinity"
        }'>
            </select>
        </div>
    </div>
    <!-- End Select -->
    <!-- Form Group -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.DateOfBirth" style="float:left;" class="input-label"></label>
        </div>       
        <div class="col-sm-9">
            <input type="text" asp-for="@Model.DateOfBirth" class="form-control" placeholder="@localizer["lblDateOfBirth"]" onkeydown="event.preventDefault()" />
            <span asp-validation-for="@Model.DateOfBirth"></span>
        </div>
    </div>
    <!-- End Form Group -->
    <!-- Select -->
    <div class="row form-group">
        <div class="col-sm-3 col-form-label">
            <label asp-for="@Model.GenderID" style="float:left;" class="input-label"></label>
        </div>       
        <div class="col-sm-9">
            <select asp-for="@Model.GenderID" asp-items="@ViewData["gender"] as IEnumerable<SelectListItem>" class="js-custom-select custom-select" size="1" style="opacity: 0;"
                    data-hs-select2-options='{
          "minimumResultsForSearch": "Infinity",
                        "placeholder": "Пол"
        }'>
                <option label="empty"></option>
            </select>
        </div>
    </div>
    <!-- End Select -->
    <!-- Footer -->
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">@localizer["SaveButton"]</button>
    </div>
    <!-- End Footer -->

</form>


@section Scripts {

    <script>
        $(document).ready(function () {
            var cityID = Number("@cityID");
            if (cityID != "0")
                $("#CityOther").attr('disabled', 'disabled');



            $('#RegionID').change(function () {
                var selectedRegion = $("#RegionID").val();
                LoadCitiesByRegion(selectedRegion);
            });

            $('#CityID').change(function () {
                var selectedCity = $("#CityID").val();
                $("#CityOther").val('');
                if (selectedCity === "0") {
                    $("#CityOther").removeAttr('disabled');
                }
                else {
                    $("#CityOther").attr('disabled', 'disabled');
                }
            });

            LoadCitiesByRegion($("#RegionID").val(), cityID);
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            if (selectedCityID == undefined || (isNaN(selectedCityID)))
                selectedCityID = null;

            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    regionID: regionID,
                    selected: selectedCityID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#CityID").empty().append($("<option>").text("--- Выбрать город ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            var isSelected = "";
                            if (item.selected == true)
                                isSelected = "selected='selected'";

                            $("#CityID")
                                //.append($("<option>").text(item.text).val(item.value));
                                .append("<option value='" + item.value + "' " + isSelected + ">" + item.text + "</option>");

                        });
                    //$("#Input_CityID")
                    //    .append($("<option>").text("Другой город").val("0"));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>

    <script src="~/lib/Gijgo/gijgo.min.js"></script>
    <script src="~/lib/Gijgo/messages.ru-ru.js"></script>
    <script>
        $('#DateOfBirth').datepicker({
            uiLibrary: 'bootstrap4',
            format: 'dd.mm.yyyy',
            locale: 'ru-ru',
        });
    </script>
}
