@model Expro.ViewModels.ExpertProfileMainInfoEditVM
@{
    Layout = "_LayoutProfile";
    ViewData["Title"] = "Основная информация";

    <link href="~/lib/Gijgo/gijgo.min.css" rel="stylesheet" />
    int? cityID = Model?.CityID;
}



<!-- Body -->
<div class="card-body">
    <form>
        <!-- Form Group -->
        <div class="row form-group">
            <label asp-for="@Model.FirstName" class="col-sm-3 col-form-label input-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="@Model.FirstName" class="form-control" />
                <span asp-validation-for="@Model.FirstName"></span>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
            <label asp-for="@Model.LastName" class="col-sm-3 col-form-label input-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="@Model.LastName" class="form-control" />
                <span asp-validation-for="@Model.LastName"></span>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
            <label asp-for="@Model.PatronymicName" class="col-sm-3 col-form-label input-label"></label>
            <div class="col-sm-9">
                <input type="text" asp-for="@Model.PatronymicName" class="form-control" />
                <span asp-validation-for="@Model.PatronymicName"></span>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label" asp-for="@Model.RegionID"></label>
            <div class="col-sm-9">
                <select asp-for="@Model.RegionID"
                        asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать регион ---</option>
                </select>
                <span asp-validation-for="@Model.RegionID" class="text-danger"></span>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label" asp-for="@Model.CityID"></label>
            <div class="col-sm-9">
                <select asp-for="@Model.CityID"
                        asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать город ---</option>
                </select>
                <span asp-validation-for="@Model.CityID" class="text-danger"></span>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label" asp-for="@Model.CityOther"></label>
            <div class="col-sm-9">
                <input class="form-control" asp-for="@Model.CityOther" placeholder="" aria-label="" required
                       data-msg="Please fill field.">
                <span asp-validation-for="@Model.CityOther"></span>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Select -->
        <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label" asp-for="@Model.LawAreas"></label>

            <div class="col-sm-9">
                <select asp-for="@Model.LawAreas"
                        asp-items="@ViewData["lawAreas"] as IEnumerable<SelectListItem>" class="js-custom-select custom-select" size="1" multiple style="opacity: 0;"
                        data-hs-select2-options='{
          "minimumResultsForSearch": "Infinity"
        }'>
                </select>
            </div>
        </div>
        <!-- End Select -->
        <!-- Form Group -->
        <div class="row form-group">
            <label for="emailLabel" class="col-sm-3 col-form-label input-label">Email</label>

            <div class="col-sm-9">
                <input type="email" class="form-control" name="email" id="emailLabel" placeholder="clarice@example.com" aria-label="clarice@example.com" value="natalie@example.com">
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-add-field row form-group"
             data-hs-add-field-options='{
                        "template": "#addPhoneFieldTemplate",
                        "container": "#addPhoneFieldContainer",
                        "defaultCreated": 0
                      }'>
            <label for="phoneLabel" class="col-sm-3 col-form-label input-label">Phone <span class="input-label-secondary">(Optional)</span></label>

            <div class="col-sm-9">
                <div class="input-group align-items-center">
                    <input type="text" class="js-masked-input form-control" name="phone" id="phoneLabel" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx" value="+1(605)5618929"
                           data-hs-mask-options='{
                               "template": "+0(000)000-00-00"
                             }'>

                    <div class="input-group-append">
                        <!-- Select -->
                        <select class="js-custom-select custom-select dropdown-toggle" name="phoneSelect"
                                data-hs-select2-options='{
                                "minimumResultsForSearch": "Infinity",
                                "customClass": "custom-select",
                                "dropdownAutoWidth": true,
                                "width": true
                              }'>
                            <option value="Mobile" selected>Mobile</option>
                            <option value="Home">Home</option>
                            <option value="Work">Work</option>
                            <option value="Fax">Fax</option>
                            <option value="Direct">Direct</option>
                        </select>
                        <!-- End Select -->
                    </div>
                </div>

                <!-- Container For Input Field -->
                <div id="addPhoneFieldContainer"></div>

                <a href="javascript:;" class="js-create-field form-link btn btn-xs btn-no-focus btn-ghost-primary">
                    <i class="fas fa-plus mr-1"></i>
                    Add phone
                </a>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Add Phone Input Field -->
        <div id="addPhoneFieldTemplate" style="display: none;">
            <div class="input-group input-group-add-field">
                <input type="text" class="js-masked-input form-control" data-name="additionlPhone" placeholder="+x(xxx)xxx-xx-xx" aria-label="+x(xxx)xxx-xx-xx"
                       data-hs-mask-options='{
                             "template": "+0(000)000-00-00"
                           }'>

                <div class="input-group-append">
                    <!-- Select -->
                    <select class="js-custom-select-dynamic btn btn-white dropdown-toggle"
                            data-name="additionlPhoneSelect"
                            data-hs-select2-options='{
                              "minimumResultsForSearch": "Infinity",
                              "customClass": "custom-select",
                              "dropdownAutoWidth": true,
                              "width": true
                            }'>
                        <option value="Mobile" selected>Mobile</option>
                        <option value="Home">Home</option>
                        <option value="Work">Work</option>
                        <option value="Fax">Fax</option>
                        <option value="Direct">Direct</option>
                    </select>
                    <!-- End Select -->
                </div>

                <a class="js-delete-field input-group-add-field-delete" href="javascript:;">
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
        <!-- End Add Phone Input Field -->
        <!-- Form Group -->
        <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label">Gender</label>

            <div class="col-sm-9">
                <div class="input-group input-group-md-down-break">
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="genderTypeRadio" id="genderTypeRadio1">
                            <label class="custom-control-label" for="genderTypeRadio1">Male</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="genderTypeRadio" id="genderTypeRadio2" checked>
                            <label class="custom-control-label" for="genderTypeRadio2">Female</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                    <!-- Custom Radio -->
                    <div class="form-control">
                        <div class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="genderTypeRadio" id="genderTypeRadio3">
                            <label class="custom-control-label" for="genderTypeRadio3">Other</label>
                        </div>
                    </div>
                    <!-- End Custom Radio -->
                </div>
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row form-group">
            <label class="col-sm-3 col-form-label input-label">BIO</label>

            <div class="col-sm-9">
                <!-- Quill -->
                <div class="quill-custom">
                    <div class="js-quill" style="min-height: 15rem;"
                         data-hs-quill-options='{
                           "placeholder": "Type your message...",
                            "modules": {
                              "toolbar": [
                                ["bold", "italic", "underline", "strike", "link", "image", "blockquote", "code", {"list": "bullet"}]
                              ]
                            }
                           }'>
                        Creative mind at Htmlstream
                    </div>
                </div>
                <!-- End Quill -->
            </div>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="row align-items-center">
            <label for="disableAdCheckbox" class="col-sm-3 col-form-label input-label">Disable ads <span class="badge badge-primary text-uppercase ml-1">PRO</span></label>

            <div class="col-sm-9">
                <!-- Custom Checkbox -->
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="disableAdCheckbox">
                    <label class="custom-control-label" for="disableAdCheckbox">With your Pro account, you can disable ads across the site.</label>
                </div>
                <!-- End Custom Checkbox -->
            </div>
        </div>
        <!-- End Form Group -->
    </form>
</div>
<!-- End Body -->
<!-- Footer -->
<div class="card-footer d-flex justify-content-end">
    <a class="btn btn-white" href="javascript:;">Cancel</a>
    <span class="mx-2"></span>
    <a class="btn btn-primary" href="javascript:;">Save Changes</a>
</div>
<!-- End Footer -->
@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var cityID = Number("@cityID");
            if (cityID != "0")
                $("#Input_CityOther").attr('disabled', 'disabled');

            $('#Input_RegionID').change(function () {
                var selectedRegion = $("#Input_RegionID").val();
                LoadCitiesByRegion(selectedRegion);
            });

            $('#Input_CityID').change(function () {
                var selectedCity = $("#Input_CityID").val();
                $("#Input_CityOther").val('');
                if (selectedCity === "0") {
                    $("#Input_CityOther").removeAttr('disabled');
                }
                else {
                    $("#Input_CityOther").attr('disabled', 'disabled');
                }
            });

            LoadCitiesByRegion($("#Input_RegionID").val(), cityID);
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            if (selectedCityID == undefined || (isNaN(selectedCityID)))
                selectedCityID = null;

            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    regionID: regionID,
                    selected: selectedCityID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#Input_CityID").empty().append($("<option>").text("--- Выбрать город ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            var isSelected = "";
                            if (item.selected == true)
                                isSelected = "selected='selected'";

                            $("#Input_CityID")
                                //.append($("<option>").text(item.text).val(item.value));
                                .append("<option value='" + item.value + "' " + isSelected + ">" + item.text + "</option>");

                        });
                    //$("#Input_CityID")
                    //    .append($("<option>").text("Другой город").val("0"));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
}
