<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>@ViewData["Title"] - Expro</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/hs-mega-menu/dist/hs-mega-menu.min.css">
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/select2/dist/css/select2.min.css">

    <!-- CSS Front Template -->
    @RenderSection("CustomFrontStyles", required: false)
    <link rel="stylesheet" href="~/lib/frontTheme/css/theme.min.css">
</head>
<body>
    <style>
        .temporarily_hidden_item {
            display: none;
        }
    </style>

    <!-- ========== HEADER ========== -->
    @await Html.PartialAsync("_LayoutFrontHeader")
    <!-- ========== END HEADER ========== -->
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main" class="bg-light">

        <!-- Breadcrumb Section -->
        <div class="bg-dark" style="background-image: url(/lib/frontTheme/svg/components/abstract-shapes-20.svg);">
            <div class="container space-1 space-top-lg-2 space-bottom-lg-3">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="d-none d-lg-block">
                            <h1 class="h2 text-white">Главная</h1>
                        </div>

                        <!-- Breadcrumb -->
                        @*<ol class="breadcrumb breadcrumb-light breadcrumb-no-gutter mb-0">
                            <li class="breadcrumb-item">Breadcrumb</li>
                            <li class="breadcrumb-item active" aria-current="page">Breadcrumb</li>
                        </ol>*@
                        <!-- End Breadcrumb -->
                    </div>

                    <div class="col-auto">
                        <!-- Responsive Toggle Button -->
                        <button type="button" class="navbar-toggler btn btn-icon btn-sm rounde-circle d-lg-none"
                                aria-label="Toggle navigation"
                                aria-expanded="false"
                                aria-controls="sidebarNav"
                                data-toggle="collapse"
                                data-target="#sidebarNav">
                            <span class="navbar-toggler-default">
                                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor" d="M17.4,6.2H0.6C0.3,6.2,0,5.9,0,5.5V4.1c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,5.9,17.7,6.2,17.4,6.2z M17.4,14.1H0.6c-0.3,0-0.6-0.3-0.6-0.7V12c0-0.4,0.3-0.7,0.6-0.7h16.9c0.3,0,0.6,0.3,0.6,0.7v1.4C18,13.7,17.7,14.1,17.4,14.1z" />
                                </svg>
                            </span>
                            <span class="navbar-toggler-toggled">
                                <svg width="14" height="14" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">
                                    <path fill="currentColor" d="M11.5,9.5l5-5c0.2-0.2,0.2-0.6-0.1-0.9l-1-1c-0.3-0.3-0.7-0.3-0.9-0.1l-5,5l-5-5C4.3,2.3,3.9,2.4,3.6,2.6l-1,1 C2.4,3.9,2.3,4.3,2.5,4.5l5,5l-5,5c-0.2,0.2-0.2,0.6,0.1,0.9l1,1c0.3,0.3,0.7,0.3,0.9,0.1l5-5l5,5c0.2,0.2,0.6,0.2,0.9-0.1l1-1 c0.3-0.3,0.3-0.7,0.1-0.9L11.5,9.5z" />
                                </svg>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Breadcrumb Section -->
        <!-- Content Section -->
        <div class="container-fluid space-1 space-top-lg-0 space-bottom-lg-2 mt-lg-n10">
            <div class="row">
                <div class="col-lg-3">
                    <!-- Navbar -->
                    <div class="navbar-expand-lg navbar-expand-lg-collapse-block navbar-light">
                        <div id="sidebarNav" class="collapse navbar-collapse navbar-vertical">
                            <!-- Card -->
                            <div class="card mb-5">
                                <div class="card-body">
                                    <!-- Avatar -->
                                    @await Component.InvokeAsync("ExpertShortInfo")
                                    <!-- End Avatar -->
                                    @await Component.InvokeAsync("ExpertDocuments")

                                    @await Component.InvokeAsync("ExpertBalance")

                                    @await Component.InvokeAsync("TermsOfUse")
                                    <!-- Nav -->
                                    <!-- List -->
                                    <!-- End List -->
                                    <!--<h6 class="text-cap small">Shopping</h6>-->
                                    <!-- List -->
                                    <!--<ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2 mb-4">
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-orders.html">
                                                <i class="fas fa-shopping-basket nav-icon"></i> Your orders
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-wishlist.html">
                                                <i class="fas fa-heart nav-icon"></i> Wishlist
                                                <span class="badge badge-soft-dark badge-pill nav-link-badge">2</span>
                                            </a>
                                        </li>
                                    </ul>-->
                                    <!-- End List -->
                                    <!--<h6 class="text-cap small">Billing</h6>-->
                                    <!-- List -->
                                    <!--<ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-billing.html">
                                                <i class="fas fa-credit-card nav-icon"></i> Plans &amp; payment
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-address.html">
                                                <i class="fas fa-map-marker-alt nav-icon"></i> Address
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link " href="account-teams.html">
                                                <i class="fas fa-users nav-icon"></i> Teams
                                                <span class="badge badge-soft-dark badge-pill nav-link-badge">+2 new users</span>
                                            </a>
                                        </li>
                                    </ul>-->
                                    <!-- End List -->

                                    <div class="d-lg-none">
                                        <div class="dropdown-divider"></div>

                                        <!-- List -->
                                        <ul class="nav nav-sub nav-sm nav-tabs nav-list-y-2">
                                            <li class="nav-item">
                                                <a class="nav-link text-primary" href="#">
                                                    <i class="fas fa-sign-out-alt nav-icon"></i> Log out
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- End List -->
                                    </div>
                                    <!-- End Nav -->
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    </div>
                    <!-- End Navbar -->
                </div>

                <div class="col-lg-9">
                    <!-- Card -->
                    <div class="card mb-3 mb-lg-5">
                        <!-- Body -->
                        <div class="card-body">
                            @RenderBody()
                        </div>
                        <!-- End Body -->
                    </div>
                    <!-- End Card -->
                </div>
            </div>
            <!-- End Row -->
        </div>
        <!-- End Content Section -->
    </main>
    <!-- ========== END MAIN CONTENT ========== -->
    <!-- ========== FOOTER ========== -->
    @await Html.PartialAsync("_LayoutFrontFooter")
    <!-- ========== END FOOTER ========== -->
    <!-- ========== SECONDARY CONTENTS ========== -->
    <!-- Sign Up Modal -->
    @await Html.PartialAsync("_LayoutFrontSecondaryContent")
    <!-- End Sign Up Modal -->
    <!-- ========== END SECONDARY CONTENTS ========== -->
    <!-- Go to Top -->
    <a class="js-go-to go-to position-fixed" href="javascript:;" style="visibility: hidden;"
       data-hs-go-to-options='{
       "offsetTop": 700,
       "position": {
         "init": {
           "right": 15
         },
         "show": {
           "bottom": 15
         },
         "hide": {
           "bottom": -15
         }
       }
     }'>
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- End Go to Top -->
    <!-- JS Global Compulsory  -->
    <script src="~/lib/frontTheme/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/frontTheme/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/lib/frontTheme/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Our libraries -->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_FirebaseConfig" />
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/Site/userTrackerHub_signalr.js"></script>
    <script src="~/js/DataTableLanguage.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="~/lib/frontTheme/vendor/hs-header/dist/hs-header.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-go-to/dist/hs-go-to.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-unfold/dist/hs-unfold.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-mega-menu/dist/hs-mega-menu.min.js"></script>
    <script src="~/lib/frontTheme/vendor/hs-show-animation/dist/hs-show-animation.min.js"></script>
    <script src="~/lib/frontTheme/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/frontTheme/vendor/select2/dist/js/select2.full.min.js"></script>
    <!-- JS Front -->
    <script src="~/lib/frontTheme/js/theme.min.js"></script>

    <!-- JS Plugins Init. -->
    <script>
        var datatablesLocalizer = {
            "Loading": "@Html.Raw(localizer["Loading"])",
            "ZeroRecords": "@Html.Raw(localizer["ZeroRecords"])"
        };
        SetDataTablesLocalizer(datatablesLocalizer);

        $(document).on('ready', function () {

            // INITIALIZATION OF HEADER
            // =======================================================
            var header = new HSHeader($('#header')).init();


            // INITIALIZATION OF MEGA MENU
            // =======================================================
            var megaMenu = new HSMegaMenu($('.js-mega-menu'), {
                desktop: {
                    position: 'left'
                }
            }).init();


            // INITIALIZATION OF UNFOLD
            // =======================================================
            var unfold = new HSUnfold('.js-hs-unfold-invoker').init();


            // INITIALIZATION OF FORM VALIDATION
            // =======================================================
            $('.js-validate').each(function () {
                $.HSCore.components.HSValidation.init($(this), {
                    rules: {
                        confirmPassword: {
                            equalTo: '#signupPassword'
                        }
                    }
                });
            });
            // INITIALIZATION OF SELECT2
            // =======================================================
            $('.js-custom-select').each(function () {
                var select2 = $.HSCore.components.HSSelect2.init($(this));
            });




            // INITIALIZATION OF SHOW ANIMATIONS
            // =======================================================
            $('.js-animation-link').each(function () {
                var showAnimation = new HSShowAnimation($(this)).init();
            });


            // INITIALIZATION OF GO TO
            // =======================================================
            $('.js-go-to').each(function () {
                var goTo = new HSGoTo($(this)).init();
            });
        });
    </script>

    <!-- IE Support -->
    <script>
        if (/MSIE \d|Trident.*rv:/.test(navigator.userAgent)) document.write('<script src="~/lib/frontTheme/vendor/babel-polyfill/dist/polyfill.js"><\/script>');
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>