@page
@model RegisterExpertModel
@{
    ViewData["Title"] = "Регистрация";
}

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        <h2 class="text-center">@ViewData["Title"]</h2>
    </div>
    <div class="col-md-4">  </div>
</div>

<div class="row">
    <div class="col-md-4">  </div>
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group text-center">
                <label asp-for="Input.LastName"></label>
                <input asp-for="Input.LastName" class="form-control text-center" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.FirstName"></label>
                <input asp-for="Input.FirstName" class="form-control text-center" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.PatronymicName"></label>
                <input asp-for="Input.PatronymicName" class="form-control text-center" />
                <span asp-validation-for="Input.PatronymicName" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control text-center" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.LawAreas"></label>
                <select asp-for="Input.LawAreas"
                        asp-items="@ViewData["lawAreas"] as IEnumerable<SelectListItem>"
                        class="form-control">
                </select>
                <span asp-validation-for="Input.LawAreas" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.RegionID"></label>
                <select asp-for="Input.RegionID"
                        asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать регион ---</option>
                </select>
                <span asp-validation-for="Input.RegionID" class="text-danger"></span>
            </div>


            <div class="form-group text-center">
                <label asp-for="Input.CityID"></label>
                <select asp-for="Input.CityID"
                        asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                        class="form-control">
                    <option disabled selected>--- Выбрать город ---</option>
                </select>
                <span asp-validation-for="Input.CityID" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.CityOther"></label>
                <input asp-for="Input.CityOther" class="form-control text-center" />
                <span asp-validation-for="Input.CityOther" disabled class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control text-center" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control text-center" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-group text-center">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control text-center" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="text-center"><button type="submit" class="btn btn-primary">Регистрация</button></div>
        </form>

        <div class="text-center">
            <br />
            <a href="/Identity/Account/RegisterExpert" class="btn btn-primary">Регистрация эксперта</a>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#Input_CityOther").attr('disabled', 'disabled');
        });
    </script>

    <script>
        $('#Input_RegionID').change(function () {
            var selectedRegion = $("#Input_RegionID").val();
            LoadCitiesByRegion(selectedRegion);
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    regionID: regionID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#Input_CityID").empty().append($("<option>").text("--- Выбрать город ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            $("#Input_CityID")
                                .append($("<option>").text(item.text).val(item.value));
                        });
                    $("#Input_CityID")
                        .append($("<option>").text("Другой город").val("0"));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>

    <script>
        $('#Input_CityID').change(function () {
            var selectedCity = $("#Input_CityID").val();
            $("#Input_CityOther").val('');
            if (selectedCity === "0") {
                $("#Input_CityOther").removeAttr('disabled');
            }
            else {
                $("#Input_CityOther").attr('disabled', 'disabled');
            }
        });
    </script>
}
