@page
@model RegisterExpertModel
@using Expro.ViewModels

@{
    ViewData["Title"] = localizer["RegistrateAsExpert"];
    Layout = "_LayoutFrontRegistration";
    int? cityID = Model?.Input?.CityID;
    var lawAreasWithParent = ViewData["lawAreas"] as List<SelectListItemWithParent>;
    int selectedLawArea = Model?.Input?.LawAreaParentID ?? 0;
}

<form class="js-validate w-md-75 w-lg-50 mx-md-auto" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <!-- Title -->
    <div class="mb-5 mb-md-7 text-sm-center">
        <h1 class="h2 mb-0">@ViewData["Title"]</h1>
        <p><a href="/Identity/Account/Register">@localizer["RegisterAsASimpleUser"]</a></p>
    </div>

    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.LastName"></label><span class="text-danger">*</span>
        <input class="form-control" asp-for="Input.LastName" placeholder="@localizer["lblLastName"]" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.LastName"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.FirstName"></label><span class="text-danger">*</span>
        <input class="form-control" asp-for="Input.FirstName" placeholder="@localizer["lblFirstName"]" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.FirstName"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.PatronymicName"></label>
        <input class="form-control" asp-for="Input.PatronymicName" placeholder="@localizer["lblPatronymicName"]" aria-label="">
        <span asp-validation-for="Input.PatronymicName"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    @*<div class="js-form-message form-group">
            <label class="input-label"  style="float:left;" asp-for="Input.PhoneNumber"></label><span class="text-danger">*</span>
            <input class="form-control" asp-for="Input.PhoneNumber" placeholder="@localizer["lblPhoneNumber"]" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.PhoneNumber"></span>
        </div>*@
    <!-- End Form Group -->
    <!-- Select -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.LawAreaParentID"></label><span class="text-danger">*</span>
        <select asp-for="Input.LawAreaParentID" class="js-custom-select custom-select" size="1" style="opacity: 0;"
                data-hs-select2-options='{
          "minimumResultsForSearch": "Infinity"
        }'>
            @{
                var parentItems = lawAreasWithParent.Where(m => m.ParentValue == "").ToList();

                <option value=""></option>
                for (int i = 0; i < parentItems.Count; i++)
                {
                    <option value="@parentItems[i].Value">@parentItems[i].Text</option>
                }
            }
        </select>
        <span asp-validation-for="Input.LawAreaParentID" class="text-danger"></span>
    </div>
    <!-- End Select -->
    <!-- Select -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;"></label>
        <select asp-for="Input.LawAreas" class="js-custom-select custom-select" size="1" multiple style="opacity: 0;"
                data-hs-select2-options='{
          "minimumResultsForSearch": "Infinity"
        }'>
        </select>
    </div>
    <!-- End Select -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.RegionID"></label>
        <select asp-for="Input.RegionID"
                asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                class="form-control">
            <option disabled selected>--- @localizer["SelectRegion"] ---</option>
        </select>
        <span asp-validation-for="Input.RegionID" class="text-danger"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.CityID"></label>
        <select asp-for="Input.CityID"
                asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                class="form-control">
            <option disabled selected>--- @localizer["SelectCity"] ---</option>
        </select>
        <span asp-validation-for="Input.CityID" class="text-danger"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" asp-for="Input.CityOther"></label>
        <input class="form-control" asp-for="Input.CityOther" placeholder="@localizer["lblCityOther"]" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.CityOther"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.Email"></label><span class="text-danger">*</span>
        <input class="form-control" asp-for="Input.Email" placeholder="@localizer["Email"]" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.Email"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.Password"></label><span class="text-danger">*</span>
        <input class="form-control" asp-for="Input.Password" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.Password"></span>
    </div>
    <!-- End Form Group -->
    <!-- Form Group -->
    <div class="js-form-message form-group">
        <label class="input-label" style="float:left;" asp-for="Input.ConfirmPassword"></label><span class="text-danger">*</span>
        <input class="form-control" asp-for="Input.ConfirmPassword" placeholder="******" aria-label="" required
               data-msg="Please fill field.">
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </div>
    <!-- End Form Group -->

    <div class="text-center"><button type="submit" class="btn btn-primary">@localizer["Register"]</button></div>

    <!-- Form Group -->
    @*<div class="js-form-message form-group">
            <select class="js-custom-select" id="locationLabel"
                    data-hs-select2-options='{
                                "customClass": "custom-select",
                                "placeholder": "Select country",
                                "searchInputPlaceholder": "Search a country"
                              }'>
                <option label="empty"></option>
                <option value="AF" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/af.svg" alt="Afghanistan Flag" /><span class="text-truncate">Afghanistan</span></span>'>Afghanistan</option>
                <option value="AX" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/ax.svg" alt="Aland Islands Flag" /><span class="text-truncate">Aland Islands</span></span>'>Aland Islands</option>
                <option value="AL" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/al.svg" alt="Albania Flag" /><span class="text-truncate">Albania</span></span>'>Albania</option>
                <option value="DZ" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/dz.svg" alt="Algeria Flag" /><span class="text-truncate">Algeria</span></span>'>Algeria</option>

            </select>
        </div>*@
    <!-- End Form Group -->


</form>
<br />

@section Scripts {

    @*<partial name="_ValidationScriptsPartial" />*@
    <script src="~/js/LawAreaPickersBinder.js"></script>

    <script>
        var lawAreasWithParent = @Html.Raw(Json.Serialize(lawAreasWithParent));
        var selectedParentLawArea = @selectedLawArea;
        var selectedChildLawAreas = @Html.Raw(Json.Serialize(Model?.Input?.LawAreas ?? null));

        $(document).ready(function () {
            BindLawAreaPickers(
                "select#Input_LawAreaParentID",
                "select#Input_LawAreas",
                lawAreasWithParent,
                selectedParentLawArea,
                selectedChildLawAreas);
        });
    </script>

    <script>
        $(document).ready(function () {
            var cityID = Number("@cityID");
            if (cityID != "0")
                $("#Input_CityOther").attr('disabled', 'disabled');

            $('#Input_RegionID').change(function () {
                var selectedRegion = $("#Input_RegionID").val();
                LoadCitiesByRegion(selectedRegion);
            });

            $('#Input_CityID').change(function () {
                var selectedCity = $("#Input_CityID").val();
                $("#Input_CityOther").val('');
                if (selectedCity === "0") {
                    $("#Input_CityOther").removeAttr('disabled');
                }
                else {
                    $("#Input_CityOther").attr('disabled', 'disabled');
                }
            });

            LoadCitiesByRegion($("#Input_RegionID").val(), cityID);
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            if (selectedCityID == undefined || (isNaN(selectedCityID)))
                selectedCityID = null;

            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    regionID: regionID,
                    selected: selectedCityID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#Input_CityID").empty().append($("<option>").text("--- Выбрать город ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            var isSelected = "";
                            if (item.selected == true)
                                isSelected = "selected='selected'";

                            $("#Input_CityID")
                                //.append($("<option>").text(item.text).val(item.value));
                                .append("<option value='" + item.value + "' " + isSelected + ">" + item.text + "</option>");

                        });
                    //$("#Input_CityID")
                    //    .append($("<option>").text("Другой город").val("0"));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
}
