@page
@model RegisterExpertModel
@{
    ViewData["Title"] = "Регистрация эксперта";
    Layout = "_LayoutFrontRegistration";
    int? cityID = Model?.Input?.CityID;

}


    <form class="js-validate w-md-75 w-lg-50 mx-md-auto" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <!-- Title -->
        <div class="mb-5 mb-md-7 text-sm-center">
            <h1 class="h2 mb-0">@ViewData["Title"]</h1>
            <p>Login to manage your account.</p>
        </div>

        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.LastName"></label>
            <input class="form-control" asp-for="Input.LastName" placeholder="" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.LastName"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.FirstName"></label>
            <input class="form-control" asp-for="Input.FirstName" placeholder="" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.FirstName"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.PatronymicName"></label>
            <input class="form-control" asp-for="Input.PatronymicName" placeholder="" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.PatronymicName"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.PhoneNumber"></label>
            <input class="form-control" asp-for="Input.PhoneNumber" placeholder="" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.PhoneNumber"></span>
        </div>
        <!-- End Form Group -->

        @*<div class="form-group text-center">
            <label asp-for="Input.LawAreas"></label>
            <select asp-for="Input.LawAreas"
                    asp-items="@ViewData["lawAreas"] as IEnumerable<SelectListItem>"
                    class="form-control">
            </select>
            <span asp-validation-for="Input.LawAreas" class="text-danger"></span>
        </div>*@

        <!-- Select -->
        <select asp-for="Input.LawAreas"
                    asp-items="@ViewData["lawAreas"] as IEnumerable<SelectListItem>" class="js-custom-select custom-select" size="1" multiple style="opacity: 0;"
                data-hs-select2-options='{
          "minimumResultsForSearch": "Infinity"

        }'>
            @*<optgroup label="Optgroup 1">
                <option value="item-1-1">Optgroup 1</option>
                <option value="item-1-2">Item 1</option>
                <option value="item-1-3">Item 2</option>
            </optgroup>
            <optgroup label="Optgroup 2">
                <option value="item-2-1">Item 1</option>
                <option value="item-2-2">Item 2</option>
            </optgroup>*@
        </select>
        <!-- End Select -->


        <div class="form-group text-center">
            <label asp-for="Input.RegionID"></label>
            <select asp-for="Input.RegionID"
                    asp-items="@ViewData["regions"] as IEnumerable<SelectListItem>"
                    class="form-control">
                <option disabled selected>--- Выбрать регион ---</option>
            </select>
            <span asp-validation-for="Input.RegionID" class="text-danger"></span>
        </div>

        <div class="form-group text-center">
            <label asp-for="Input.CityID"></label>
            <select asp-for="Input.CityID"
                    asp-items="@ViewData["cities"] as IEnumerable<SelectListItem>"
                    class="form-control">
                <option disabled selected>--- Выбрать город ---</option>
            </select>
            <span asp-validation-for="Input.CityID" class="text-danger"></span>
        </div>

        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.CityOther"></label>
            <input class="form-control" asp-for="Input.CityOther" placeholder="" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.CityOther"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.Email"></label>
            <input class="form-control" asp-for="Input.Email" placeholder="Емейл" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.Email"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.Password"></label>
            <input class="form-control" asp-for="Input.Password" placeholder="******" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.Password"></span>
        </div>
        <!-- End Form Group -->
        <!-- Form Group -->
        <div class="js-form-message form-group">
            <label class="input-label" asp-for="Input.ConfirmPassword"></label>
            <input class="form-control" asp-for="Input.ConfirmPassword" placeholder="******" aria-label="" required
                   data-msg="Please fill field.">
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <!-- End Form Group -->

        <div class="text-center"><button type="submit" class="btn btn-primary">Регистрация</button></div>

        <!-- Form Group -->
        <div class="js-form-message form-group">
            <select class="js-custom-select" id="locationLabel"
                    data-hs-select2-options='{
                                "customClass": "custom-select",
                                "placeholder": "Select country",
                                "searchInputPlaceholder": "Search a country"
                              }'>
                <option label="empty"></option>
                <option value="AF" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/af.svg" alt="Afghanistan Flag" /><span class="text-truncate">Afghanistan</span></span>'>Afghanistan</option>
                <option value="AX" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/ax.svg" alt="Aland Islands Flag" /><span class="text-truncate">Aland Islands</span></span>'>Aland Islands</option>
                <option value="AL" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/al.svg" alt="Albania Flag" /><span class="text-truncate">Albania</span></span>'>Albania</option>
                <option value="DZ" data-option-template='<span class="d-flex align-items-center"><img class="avatar avatar-xss avatar-circle mr-2" src="/lib/frontTheme/vendor/flag-icon-css/flags/1x1/dz.svg" alt="Algeria Flag" /><span class="text-truncate">Algeria</span></span>'>Algeria</option>

            </select>
        </div>
        <!-- End Form Group -->


    </form>
<br />

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var cityID = Number("@cityID");
            if (cityID != "0")
                $("#Input_CityOther").attr('disabled', 'disabled');

            $('#Input_RegionID').change(function () {
                var selectedRegion = $("#Input_RegionID").val();
                LoadCitiesByRegion(selectedRegion);
            });

            $('#Input_CityID').change(function () {
                var selectedCity = $("#Input_CityID").val();
                $("#Input_CityOther").val('');
                if (selectedCity === "0") {
                    $("#Input_CityOther").removeAttr('disabled');
                }
                else {
                    $("#Input_CityOther").attr('disabled', 'disabled');
                }
            });

            LoadCitiesByRegion($("#Input_RegionID").val(), cityID);
        });

        function LoadCitiesByRegion(regionID, selectedCityID) {
            if (selectedCityID == undefined || (isNaN(selectedCityID)))
                selectedCityID = null;

            $.ajax({
                type: "GET",
                url: "/City/GetByRegionIDAsSelectList",
                //data: JSON.stringify({
                //    selected: categoryID
                //}),
                data: {
                    regionID: regionID,
                    selected: selectedCityID
                },
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                success: function (data) {
                    $("#Input_CityID").empty().append($("<option>").text("--- Выбрать город ---").attr('disabled', 'disabled').attr('selected', 'selected'));
                    $.each(data,
                        function (i, item) {
                            var isSelected = "";
                            if (item.selected == true)
                                isSelected = "selected='selected'";

                            $("#Input_CityID")
                                //.append($("<option>").text(item.text).val(item.value));
                                .append("<option value='" + item.value + "' " + isSelected + ">" + item.text + "</option>");

                        });
                    //$("#Input_CityID")
                    //    .append($("<option>").text("Другой город").val("0"));
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
    </script>
}
