@model Expro.ViewModels.ExpertProfileContactEditVM

@{
    Layout = "_LayoutProfile";
    ViewData["Title"] = "Контакты";
}

<form asp-controller="ExpertProfileContacts" asp-action="Index" data-ajax="true" data-ajax-method="POST">
    @if ((bool)ViewBag.Message)
    {
        <div class="alert alert-success" role="alert">
            Изменения сохранены
        </div>
    }

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.PhoneNumber"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@Model.PhoneNumber"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.Fax"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.Fax" class="form-control" />
                <span asp-validation-for="@Model.Fax"></span>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <label asp-for="@Model.WebSite"></label>
        </div>
        <div class="col-md-6">
            <p>
                <input asp-for="@Model.WebSite" class="form-control" />
                <span asp-validation-for="@Model.WebSite"></span>
            </p>
            <p>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</form>