@*@model CompanyDetailsVM
@using Expro.ViewModels
@{
    ViewData["Title"] = "Удаление компании";
}


<h4>Вы действительно хотите удалить компанию?</h4>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.CompanyName"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.CompanyName)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.CompanyDescription"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.CompanyDescription)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.LawAreas"></label>
    </div>
    <div class="col-md-9">
        <p>
            @foreach (var item in Model.LawAreas)
            {
                <span>@item</span><span>;</span>
            }
        </p>
    </div>
</div>


<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.Region"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.Region)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.City"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.City)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.CityOther"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.CityOther)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.WebSite"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.WebSite)
        </p>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.PhoneNumber"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.PhoneNumber)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.Email"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.Email)
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <label asp-for="@Model.Address"></label>
    </div>
    <div class="col-md-9">
        <p>
            @Html.DisplayFor(m => m.Address)
        </p>
    </div>
</div>


<form asp-action="Delete">
    <input type="hidden" asp-for="@Model.ID" class="form-control" />
    <input type="submit" value="Удалить" class="btn btn-danger" />
</form>

<div class="row">
    <a asp-action="Index">Вернутся к списку</a>
</div>*@
