@model Expro.ViewModels.QuestionDetailsForAdminVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Вопрос";
    //ViewData["DocumentType"] = DocumentTypesEnum.QuestionDocument;
    ViewData["ApprovedStatusAlertText"] = "Вопрос подтвержден";
    ViewData["RejectedStatusAlertText"] = "Вопрос отменен";
}

<div class="w-lg-60 mx-lg-auto">
    <h2>@ViewData["Title"]</h2>

    <!-- Author -->
    <div class="border-top border-bottom py-4 mb-5">
        <div class="row align-items-md-center">
            <div class="col-md-7 mb-5 mb-md-0">
                <div class="media align-items-center">
                    <div class="avatar avatar-circle">
                        <img class="avatar-img" src="@Model.Attachment.Url" alt="Image Description">
                    </div>
                    <div class="media-body font-size-1 ml-3">
                        <span class="h6"><span>@Model.Author.FullName</span> @*<button type="button" class="btn btn-xs btn-soft-primary font-weight-bold transition-3d-hover py-1 px-2 ml-1">Follow</button>*@</span>
                        <span class="d-block text-muted">@Model.DateSubmittedForApproval</span>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="d-flex justify-content-md-end align-items-center">
                    @*<span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                        <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle ml-2" href="#">
                            <i class="fab fa-telegram"></i>
                        </a>*@
                    @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
                    {
                        <span class="badge badge-soft-info">@localizer["Fee"]: @Model.PriceStr @localizer["soum"]</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- End Author -->

    <div class="mb-4">
        <h2 class="h2">@Model.Title</h2>
    </div>

    <!-- Quill -->
    <div class="quill-custom Text">
        <div class="js-quill" style="min-height: 15rem;"
             data-hs-quill-options='{
                   "placeholder": "",
                    "modules": {
                      "toolbar": false
                    }
                   }'>
            @Html.Raw(Model.Text)
        </div>
    </div>
    <!-- End Quill -->

    @if (Model.Attachment != null && Model.Attachment.ID > 0)
    {
        <div class="mt-5">
            <i class="fa fa-file" aria-hidden="true"></i>
            <a href="@Model.Attachment.Url">@Model.Attachment.DisplayName</a>
        </div>
    }
        
    <!-- Badges -->
    <div class="mt-5">
        @foreach (var item in Model.LawAreas)
        {
            <a class="btn btn-xs btn-soft-secondary mb-1" href="javascript: void()">@item.Name</a>
        }
    </div>
    <!-- End Badges -->
    <!-- Share -->
    <!--<div class="row justify-content-sm-between align-items-sm-center mt-5">
        <div class="col-sm-6 mb-2 mb-sm-0">
            <div class="d-flex align-items-center">
                <span class="d-block small font-weight-bold text-cap mr-2">Share:</span>

                <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a class="btn btn-xs btn-icon btn-ghost-secondary rounded-circle mr-2" href="#">
                    <i class="fab fa-telegram"></i>
                </a>
            </div>
        </div>

        <div class="col-sm-6 text-sm-right">
            <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle mr-2" href="#" data-toggle="tooltip" data-placement="top" title="Bookmark story">
                <i class="far fa-bookmark"></i>
            </a>
            <a class="btn btn-xs btn-icon btn-soft-secondary rounded-circle" href="#" data-toggle="tooltip" data-placement="top" title="Report story">
                <i class="far fa-flag"></i>
            </a>
        </div>
    </div>-->
    <!-- End Share -->
    <div class="mt-5">
        @{
            string dateAdminResponsed = "";
            if (!string.IsNullOrWhiteSpace(Model.DateAdminResponsed))
            {
                dateAdminResponsed = "(" + Model.DateAdminResponsed + ")";
            }
        }
        @if (Model.Status.ID == (int)DocumentStatusesEnum.WaitingForApproval)
        {
            <span>@localizer["Actions"]:</span>
            <button type="button" class="btn btn-success btn-xs" onclick="Approve(@Model.ID);">@localizer["Approve"] <i class="fas fa-check ml-1"></i></button>
            <button type="button" class="btn btn-danger btn-xs" onclick="Reject(@Model.ID);">@localizer["Reject"] <i class="fas fa-times ml-1"></i></button>
            <div class="spinner-border spinner" style="display: none;"></div>
        }
        else if (Model.Status.ID == (int)DocumentStatusesEnum.Approved)
        {
            <div class="alert alert-soft-success text-center rounded-0 mb-0" role="alert">
                @ViewData["ApprovedStatusAlertText"] @dateAdminResponsed
            </div>
            <br />
            <span>@localizer["Actions"]:</span>
            <button type="button" class="btn btn-danger btn-xs" onclick="Reject(@Model.ID);">@localizer["Reject"] <i class="fas fa-times ml-1"></i></button>
            <div class="spinner-border spinner" style="display: none;"></div>
        }
        else if (Model.Status.ID == (int)DocumentStatusesEnum.Rejected)
        {
            <div class="alert alert-soft-danger text-center rounded-0 mb-0" role="alert">
                @ViewData["RejectedStatusAlertText"] @dateAdminResponsed
            </div>
        }
    </div>
    <div class="mt-5">
        <a asp-action="Index">@localizer["BackToList"]</a>
    </div>
</div>

@section CustomFrontStyles
{
    <link rel="stylesheet" href="~/lib/frontTheme/vendor/quill/dist/quill.snow.css">
}

@section Scripts {
    <script src="~/lib/frontTheme/vendor/quill/dist/quill.min.js"></script>

    <script>
        $(document).ready(function () {
            InitQuill();
        });

        function InitQuill() {
            // INITIALIZATION OF QUILLJS EDITOR
            // =======================================================
            var options = {
                //debug: 'info',
                //modules: {
                //    toolbar: '#toolbar'
                //},
                //placeholder: 'Compose an epic...',
                readOnly: true,
                //theme: 'snow'
            };
            var quill = $.HSCore.components.HSQuill.init('.js-quill', options);

            return quill;
        }
        //var documentType = "";

        //function SetDocumentType(name) {
        //    documentType = name;
        //}

        function Approve(id) {
            ResponseToDocument(id, "Approve");
        }

        function Reject(id) {
            ResponseToDocument(id, "Reject");
        }

        function ResponseToDocument(id, action) {
            var confirmationText = "";
            if (action == "Approve")
                confirmationText = "Вы уверены, что хотите подтвердить?";
            else
                confirmationText = "Вы уверены, что хотите отменить?";

            if (!confirm(confirmationText))
                return;

            $.ajax({
                type: "POST",
                url: "/Admin/Question/" + action + "/" + id,
                //data: {
                //    id: requestID
                //},
                //data: JSON.stringify({
                //    id: requestID
                //}),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    ShowFormSpinner();
                },
                success: function (data) {
                    //alert("success");
                    //alert(data);
                    location.reload();
                },
                error: function (data) {
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data) {
                    //alert("completed");
                    //$(".btn").removeAttr("disabled");
                }
            });
        }

        function ShowFormSpinner() {
            $(".spinner").show();
        }
    </script>
}