@model Expro.ViewModels.QuestionDetailsForAdminVM
@using Expro.Models.Enums

@{
    ViewData["Title"] = "Вопрос";
    //ViewData["DocumentType"] = DocumentTypesEnum.QuestionDocument;
    ViewData["ApprovedStatusAlertText"] = "Вопрос подтвержден";
    ViewData["RejectedStatusAlertText"] = "Вопрос отменен";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Действия:
        </dt>
        <dd class="col-sm-10">
            @if (Model.Status.ID == (int)DocumentStatusesEnum.WaitingForApproval)
            {
                <button type="button" class="btn btn-success" onclick="Approve(@Model.ID);">Подтвердить</button>
                <button type="button" class="btn btn-danger" onclick="Reject(@Model.ID);">Отменить</button>
            }
            else if (Model.Status.ID == (int)DocumentStatusesEnum.Approved)
            {
                <div class="alert alert-success">@ViewData["ApprovedStatusAlertText"]</div>
            }
            else if (Model.Status.ID == (int)DocumentStatusesEnum.Rejected)
            {
                <div class="alert alert-danger">@ViewData["RejectedStatusAlertText"]</div>
            }
            <div class="spinner-border spinner" style="display: none;"></div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="Text"></textarea>
            @*@Html.Raw(Model.Text)*@
        </dd>

        @if (Model.Attachment != null && Model.Attachment.ID > 0)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Attachment)
            </dt>
            <dd class="col-sm-10">
                <a href="@Model.Attachment.Url">@Model.Attachment.DisplayName</a>
            </dd>
        }

        @if (Model.PriceType == DocumentPriceTypesEnum.Paid)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PriceStr) сум
            </dd>
        }

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateSubmittedForApproval)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateSubmittedForApproval)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdminResponsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateAdminResponsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Назад к списку</a>
</div>

<style>
    #cke_Text {
        border: none !important;
    }

    #cke_Text .cke_top, #cke_Text .cke_bottom {
        display: none !important;
    }
</style>

@section Scripts {
    <script src="~/lib/ckeditor_4.15.0_standard/ckeditor/ckeditor.js"></script>
    <script>
        //var documentType = "";

        //function SetDocumentType(name) {
        //    documentType = name;
        //}

        function Approve(id) {
            ResponseToDocument(id, "Approve");
        }

        function Reject(id) {
            ResponseToDocument(id, "Reject");
        }

        function ResponseToDocument(id, action) {
            var confirmationText = "";
            if (action == "Approve")
                confirmationText = "Вы уверены, что хотите подтвердить?";
            else
                confirmationText = "Вы уверены, что хотите отменить?";

            if (!confirm(confirmationText))
                return;

            $.ajax({
                type: "POST",
                url: "/Admin/Question/" + action + "/" + id,
                //data: {
                //    id: requestID
                //},
                //data: JSON.stringify({
                //    id: requestID
                //}),
                contentType: "application/json; charset=utf-8",
                //dataType: "json",
                beforeSend: function (data) {
                    $(".btn").attr("disabled", "disabled");
                    ShowFormSpinner();
                },
                success: function (data) {
                    //alert("success");
                    //alert(data);
                    location.reload();
                },
                error: function (data) {
                    alert("Ajax error (status code = " + data.status + "): " + data.statusText);
                },
                complete: function (data) {
                    //alert("completed");
                    //$(".btn").removeAttr("disabled");
                }
            });
        }

        function ShowFormSpinner() {
            $(".spinner").show();
        }
    </script>
    <script>
        //SetDocumentType("@ViewData["DocumentType"]");

        CKEDITOR.config.readOnly = true;
        CKEDITOR.replace('Text');
    </script>
}